/* Nutricompra*/

.nutricompra {
    background-color: #00da81;
    height: 100%;
    width: 100%;
}

.nutricompra .cerrar {
    position: fixed;
    top: 40px;
    right: 15px;
    z-index: 50;
}

.nutricompra .cerrar button {
    background-image: none;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    color: #1fc880;
    font-size: 20pt;
    height: 35px;
    padding-top: 0px;
    text-align: center;
    width: 35px;
}

.nutricompra .panel.intro {
    background-color: inherit;
    position: relative;
}

.nutricompra .intro .logo {
    margin-top: 50px;
    margin-bottom: 0px;
}

.nutricompra .intro .carrito {
    margin-top: -25px;
    margin-bottom: 0px;
}

.nutricompra .intro h2 {
    color: #ffffff;
    font-family: 'Muli-Light', sans-serif;
    font-size: 18pt;
    margin-top: 20px;
    text-align: center;
}

.nutricompra .intro h2 a {
    color: #ffffff;
    text-decoration: none;
}

.nutricompra .btn {
    background-color: #fed625;
    background-image: none;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 14pt;
    height: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 18px;
    text-transform: uppercase;
    width: 200px;
}

.nutricompra .play{
    text-align: center;
    margin-top: 10px;

}

.nutricompra .play .btn{
    padding: 17px 57px;

}

.nutricompra .como-jugar {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    width: 100%;
}

.nutricompra .btn-back {
    left: 15px;
    position: absolute;
    top: 40px;
    z-index: 10;
}

.nutricompra .como-jugar h2 {
    color: #00c97e;
    font-family: 'Muli', sans-serif;
    font-size: 20pt;
    margin-top: 65px;
    text-align: center;
}

.nutricompra .como-jugar h3 {
    color: #2f3e47;
    font-family: 'Muli-Light', sans-serif;
    font-size: 15pt;
    margin-top: 28px;
    text-align: center;
}

.nutricompra .como-jugar h3 span {
    color: #00c97e;
}

.nutricompra .como-jugar .paso {
    height: 90px;
    margin: 15px 30px;
}

.nutricompra .como-jugar .paso img {
    float: left;
    margin-right: 12px;
}

.nutricompra .como-jugar .paso.paso-2 img {
    margin-top: 20px;
}

.nutricompra .como-jugar .paso p {
    color: #2f3e47;
    font-size: 11pt;
    padding-top: 30px;
}

.nutricompra .jugar {
    background-color: #00da81;
    position: relative;
}

.nutricompra .header {
    padding: 8px 8px 0px 8px;
}

.nutricompra .header .cantidad-productos {
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    height: 35px;
    width: 177px;
}

.nutricompra .header .cantidad-productos ul {
    padding-left: 7px;
    margin: 0px;
}

.nutricompra .header .cantidad-productos ul li {
    float: left;
    list-style: none;
    margin-right: 3px;
    margin-top: 5px;
}

.nutricompra .header .cantidad-productos ul li img {
    width: 24px;
    cursor: pointer;
}

.nutricompra .header .carrito {
    padding-right: 18px;
    position: relative;
    text-align: right;
}

.nutricompra .header .carrito img {
    margin-top: 7px;
}

.nutricompra .header .carrito .carrito-cantidad {
    background-color: #ffffff;
    border-radius: 6px;
    color: #00c97e;
    font-family: 'Muli', sans-serif;
    font-size: 10pt;
    height: 16px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 22px;
}

.nutricompra .vitrina {
    background-color: #00c97e;
    background-image: url('/img/nutricompra/bg_tienda.png');
    height: 536px;
    margin: 0 auto;
    padding: 0px 14px;
    width: 360px;
}

.nutricompra .selector.seleccionado {
    visibility: hidden;
}

.nutricompra .selector {
    float: left;
    margin-bottom: 10px;
    width: 82px;
}

.nutricompra .producto {
    display: table-cell;
    height: 95px;
    position: relative;
    vertical-align: bottom;
    width: inherit;
}

.nutricompra .producto img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.nutricompra .carro {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 105px);
}

.nutricompra .carro .producto-carrito {
    float: left;
    left: 50px;
    position: absolute;
    top: 0px;
    z-index: 20;
    filter: grayscale(30%);
    -webkit-filter: grayscale(30%);
}

.nutricompra .carro .img-carro {
    position: relative;
    z-index: 30;
}

.nutricompra .pagina-siguiente,
.nutricompra .pagina-anterior {
    background-image: url('/img/nutricompra/bnt_next.png');
    bottom: 29px;
    cursor: pointer;
    height: 63px;
    position: absolute;
    right: 12px;
    width: 63px;
}

.nutricompra .pagina-anterior {
    left: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nutricompra .resumen {
    background-color: #ffffff;
    height: 100%;
    padding: 0px 15px;
}

.nutricompra .resumen h3 {
    color: #00c97e;
    font-family: 'Muli', sans-serif;
    font-size: 17pt;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.nutricompra .resumen .grupo {
    height: 50px;
    margin-bottom: 10px;
    position: relative;
}

.nutricompra .resumen .grupo .grupo-icono {
    border-right: 1px solid #e9e9e9;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    width: 60px;
}

.nutricompra .resumen .grupo .grupo-cantidad {
    background-color: #1fc880;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    height: 20px;
    padding-top: 0px;
    position: absolute;
    left: 32px;
    text-align: center;
    top: 0px;
    width: 25px;
}

.nutricompra .resumen .grupo .grupo-productos {
    height: 50px;
}

.nutricompra .resumen .grupo .grupo-productos .producto {
    float: left;
    height: 50px;
    margin-right: 15px;
    position: relative;
}

.nutricompra .resumen .grupo .grupo-productos .producto img {
    height: 50px;
    position: initial;
}

.nutricompra .resumen .grupo .grupo-productos .producto .cerrar {
    background-color: #f90a7a;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    height: 20px;
    padding-top: 3px;
    position: absolute;
    left: 60%;
    text-align: center;
    top: 0px;
    width: 20px;
}

.nutricompra .resumen .tooltip-inner {
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #2f3e47;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
}

.nutricompra .resumen .tooltip {
    font-size: 8pt;
}

.nutricompra .resumen .tooltip.right .tooltip-arrow {
    border-right-color: #e5e5e5;
}

.nutricompra .jugar.terminar {
    background-color: #ffffff;
    height: 100%;
    padding-top: 50px;
    text-align: center;
}

.nutricompra .terminar .titulo {
    background-image: url('/img/nutricompra/ico_cinta.png');
    height: 76px;
    margin: 0 auto;
    text-align: center;
    width: 308px;
}

.nutricompra .terminar .titulo h2 {
    color: #ffffff;
    font-family: 'Muli-Light', sans-serif;
    font-size: 17pt;
    margin-top: 0px;
    padding-top: 15px;
}

.nutricompra .terminar h3 {
    color: #2f3e47;
    font-family: 'Muli-Light', sans-serif;
    font-size: 19pt;
    margin: 20px auto 20px auto;
    text-align: center;
    width: 75%;
}

.nutricompra .terminar .feedback {
    color: #2f3e47;
    font-family: 'Muli', sans-serif;
    font-size: 12pt;
    margin: 20px auto;
    text-align: center;
    width: 300px;
}

.nutricompra-salir .modal-dialog {
    width: 330px;
}

.nutricompra-salir .modal-dialog .glyphicon {
    color: #ffba23;
    font-size: 90pt;
}

.nutricompra-salir .modal-dialog .modal-header,
.nutricompra-salir .modal-dialog .modal-footer {
    border: none;
}

.nutricompra-salir .modal-dialog .modal-body {
    padding: 30px 20px;
}

.nutricompra-salir .modal-body p {
    color: #2f3e47;
    font-size: 18pt;
    text-align: center;
}

.nutricompra-salir .modal-dialog .modal-footer {
    margin: 0px;
    padding: 15px;
}

.nutricompra-salir .modal-dialog .modal-footer .btn-default {
    background-color: #00c97e;
    margin: 0px 0px 10px 0px;
    width: 100%;
}

.nutricompra-salir .modal-dialog .modal-footer .salir {
    background-color: #ffffff;
    box-shadow: none;
    color: #00c97e;
}

/* Final - Nutricompra*/