<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <link href="../app/lib/ionic/css/ionic.css" rel="stylesheet" type="text/css"/>
        <link href="../app/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="../app/lib/ion-ripple/ion-ripple.css" rel="stylesheet" type="text/css"/>

        <script src="../app/lib/ionic/js/ionic.bundle.js" type="text/javascript"></script>
        <script src="../app/lib/angular-route/angular-route.js"></script>
        <script src="../app/lib/ion-ripple/ion-ripple.js" type="text/javascript"></script>

    </head>
    <body ng-app="myApp" ng-controller="myController">

    <ion-side-menus enable-menu-with-back-views="true">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button>
                </ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    </button>
                </ion-nav-buttons>
                <ion-nav-title>
                    <img src="../app/img/logo-nutrifami-header.png" alt="Nutrifami"/>
                </ion-nav-title>
                <ion-nav-buttons side="right">
                    <button class="button button-icon ion-android-more-vertical" ng-click="popover.show($event)"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="menuContent">
                <ion-view>
                    <ion-content>
                        <div class='lecciones'>
                            <div class="lecciones-header">
                                <div class="col">
                                    <h1 ng-click="click()" ion-ripple><i class="lecciones-titulo-sonido icon ion-volume-high" aria-hidden="true"></i> Alimentación Saludable</h1>
                                </div>
                                <div class="col">
                                    <img src="../app/assets/training/images/201671161247714.jpg" alt=""/>
                                </div>
                                <div class="col">
                                    <p ng-click="click()" ion-ripple><i class="lecciones-descripcion-sonido icon ion-volume-high" aria-hidden="true"></i> El tema de Alimentación Saludable, le ayudará a identificar los alimentos y sus nutrientes para lograr una alimentación variada y sana. Usted aprenderá sobre:
                                    </p>
                                </div>
                            </div>

                            <div class="lecciones-body">
                                <div class="row">
                                    <div class="col">
                                        <button class="leccion-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                                        <div class="leccion leccion-terminada" ion-ripple>
                                            <img src="../app/img/icons/ico-leccion-1.png" alt=""/>
                                            <h2>Los Alimentos</h2>
                                            <button class="leccion-comenzar" aria-hidden="true">Comenzar</button>

                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="leccion-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                                        <div class="leccion" ion-ripple>
                                            <img src="../app/img/icons/ico-leccion-2.png" alt=""/>
                                            <h2>Los Alimentos</h2>
                                            <button class="leccion-comenzar" aria-hidden="true">Comenzar</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button class="leccion-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                                        <div class="leccion" ion-ripple>
                                            <img src="../app/img/icons/ico-leccion-3.png" alt=""/>
                                            <h2>Los Alimentos</h2>
                                            <button class="leccion-comenzar" aria-hidden="true">Comenzar</button>

                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="leccion-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                                        <div class="leccion" ion-ripple>
                                            <img src="../app/img/icons/ico-leccion-4.png" alt=""/>
                                            <h2>Los Colores de los Alimentos</h2>
                                            <button class="leccion-comenzar" aria-hidden="true">Comenzar</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" width="300">
            <ion-header-bar class="bar-stable">
                <img src="../app/img/logo-nutrifami-sidebar.png" alt="Nutrifami" height="28" width="127"/>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-item menu-close href="#/app/capacitacion">
                        <img class="icono" src="../app/img/icons/ico-menu-capacitacion.png" alt="Capacitación"/><span>Capacitación</span>
                    </ion-item>
                    <ion-item menu-close href="#/app/consumos">
                        <img class="icono" src="../app/img/icons/ico-menu-compras.png" alt="Consumo"/>Mis Compras
                    </ion-item>
                    <ion-item menu-close href="#/app/progreso">
                        <img class="icono" src="../app/img/icons/ico-menu-progreso.png" alt="Consumo"/>Progreso
                    </ion-item>
                    <ion-item menu-close href="#/app/perfil">
                        <img class="icono" src="../app/img/icons/ico-menu-perfil.png" alt="Perfil"/>Perfil
                    </ion-item>
                    <ion-item menu-close href="#/login">
                        <img class="icono" src="../app/img/icons/ico-menu-salir.png" alt="Cerrar Sesion"/>Cerrar Sesión
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>


    <script>
                angular.module('myApp', ["ionic", 'ionMDRipple']).config(function ($stateProvider) {
                    $stateProvider.state('home', {
                        url: '/'
                    });
                }).controller('myController', AppController);

                function AppController($scope, $ionicPopover) {
                    $scope.click = function () {
                        console.log("Click");
                    };

                    $ionicPopover.fromTemplateUrl('templates/popover.html', {
                        scope: $scope,
                    }).then(function (popover) {
                        $scope.popover = popover;
                    });
                }
                ;
    </script>

    <script id="templates/popover.html" type="text/ng-template">
        <div class="menu-right">
        <ion-popover-view>
        <ion-content>
        <div class="list">
        <a class="item" href="http://learn.ionicframework.com/" target="_blank">
        Ver Perfil
        </a>
        <a class="item" href="http://ionicframework.com/docs/" target="_blank">
        Configuración
        </a>
        <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
        Cerrar Sesión
        </a>
        </div>
        </ion-content>
        </ion-popover-view>
        </div>
    </script>
</body>
</html>
