
.preload {
    background-color: #00c97e;
    background-image: url('../../img/login-bg.png');
    background-position: center center;
    height: 100%;
    width: 100%;
}

.preload .logo {
    margin-top: 6em;
    text-align: center;
}

.preload .progress {
    height: 11px;
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    border-radius: 4px;
    width: 90%;
    background-color: #f5f5f5;
    background-image: none;
}

.preload .progress .progress-bar {
    background-color: #feea45;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    border-radius: 4px;
}

.preload p {
    text-align: center;
    color: #ffffff;
}

.preload .logo-wfp {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0px;
}