<div class="modal" ui-if="feedback" ui-state='feedback'>
    <div class="calificacion">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<span class="center-block fa fa-check fa-3x" aria-hidden="true"></span>-->
                    <span class="center-block fa  fa-3x sticker" ng-class="estadoUnidad == 'acierto' ? 'fa-check':'fa-times wrong'" aria-hidden="true"></span>
                </div>
                <div class="modal-body">
                    <p class="mensaje" ng-show="estadoUnidad == 'fallo'">Intenta de nuevo! respuesta incorrecta <a href="#"><span  class="fa fa-volume-up" aria-hidden="true"></span></a></p>
                    <p class="mensaje" ng-show="estadoUnidad == 'acierto'">Muy bien! respuesta correcta <a href="#"><span  class="fa fa-volume-up" aria-hidden="true"></span></a></p>
                    <div class="feedback" ng-show="unidad.feedback !== undefined">
                        <p>{{ unidad.feedback}}</p>
                        <div class="sonido">
                            <a href="#"><span  class="fa fa-volume-up" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="activo"> 
                        <a href class="btn btn-default center-block" role="button" ui-turn-off="feedback" ng-click="feedback()">{{ estadoUnidad == 'acierto' ? 'Continuar':'Intentar de nuevo'}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>