<header>
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <span><img src="img/logo-nutrifami-header.png" alt="Nutrifami"/></span>
        </div>


        <div class="btn-group pull-left">
            <div class="btn btn-navbar" >
                <button ui-toggle='uiSidebarLeft' class="fa fa-bars fa-2x" aria-hidden="true"></button>
            </div>
        </div>

        <div class="btn-group pull-right">
            <!--<div class="btn btn-navbar" >
                <button href="#" class="fa fa-bell-o fa-2x" aria-hidden="true"></button>
            </div>-->
            <div class="btn btn-navbar" >
                <button ui-turn-on='myDropdown' class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></button>
            </div>
            <ul class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown')" ui-outer-click-if="Ui.active('myDropdown')" role="menu" ui-show="myDropdown" ui-state="myDropdown" ui-turn-off="myDropdown">
                <li><a ng-href="#/perfil">Ver perfil</a></li>
                <!--<li><a>Configuración</a></li>-->
                <li><a ng-href="#/login">Cerrar Sesión</a></li>
            </ul>
        </div>

    </div>
</header>