<header>
    <div class="leccion-avance">
        <div class="row">
            <div class="col leccion-avance-cerrar">
                <button ng-click="salirUnidad()" class="icon ion-close-round" aria-hidden="true" ion-ripple></button>
            </div>
            <div class="col col-80 leccion-avance-progreso">
                <span>Paso {{unidad.numeroUnidad}} de {{unidad.totalUnidades}}</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentajeAvance()}}%;"></div>
                    <div class="complete"></div>
                </div>
            </div>
        </div>
    </div>
</header>
