<header>
    <div class="navbar navbar-app navbar-absolute-top leccion-avance">
        <div class="col-xs-2 btn-group">
            <div class="btn btn-navbar" >
                <a ng-href="#/"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-xs-9 ">
            <span>Paso {{unidad.numeroUnidad}} de {{unidad.totalUnidades}}</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{porcentajeAvance()}}%;"></div>
                <div class="complete"></div>
            </div>
        </div>
    </div>
</header>