<div class="sidebar sidebar-left">
    <div class="scrollable">
        <h1 class="scrollable-header app-name"><img src="img/logo-nutrifami-sidebar.png" alt="Nutrifami"/></h1>  
        <div class="scrollable-content">
            <div class="list-group" ui-turn-off='uiSidebarLeft'>
                <button class="list-group-item" go-click=="/"><img class="icono" src="img/icons/ico-capacitacion.png" alt="Capacitación"/>Capacitación</button>
               <!--
                <a class="list-group-item" ng-href="#/"><img class="icono" src="img/icons/ico-consumos.png" alt="Consumo"/>Consumos</a>
                <a class="list-group-item" ng-href="#/"><img class="icono" src="img/icons/ico-progreso.png" alt="Progreso"/>Progresos</a>
                -->
                <button class="list-group-item" go-click="/perfil"><img class="icono" src="img/icons/ico-perfil.png" alt="Perfil"/>Perfil</button>
                <button class="list-group-item" go-click="/login"><img class="icono" src="img/icons/ico-cerrar-sesion.png" alt="Cerrar Sesion"/>Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>