<ion-view>
    <ion-content>
        <div class="row">
            <div class="perfil-panel editar-perfil">
                <div class="perfil-header">
                    <img ng-src="img/icons/ico-{{usuarioActivo.genero == null || usuarioActivo.genero == '' ? 'Masculino' : usuarioActivo.genero }}.png" alt="Genero {{usuarioActivo.genero}}">
                    <h1>{{'Mi información' | translate }}</h1>
                </div>
                <div class="perfil-body">
                    <form name="form" ng-submit="updateUser()">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="username">{{'Documento' | translate }} *</label>
                                    <input type="text" class="form-control" name="username" placeholder="{{'Ingrese el Número de Documento de Identidad' | translate }}" ng-model="usuarioActivo.username" ng-model-options="{ updateOn: 'blur' }"  ng-minlength="6" required>
                                    <div class="help-block" ng-show="form.username.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                    <div class="help-block" ng-show="form.username.$error.minlength">{{'El número de documento es muy corto' | translate }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="tipo_documento">{{'Tipo de Documento de Identidad' | translate }} *</label>
                                    <select class="form-control" name="tipos_documento" ng-options="option.name for option in tipos_documento.availableOptions track by option.id" ng-model="tipos_documento.selectedOption" required>
                                    </select>
                                    <div class="help-block" ng-show="form.tipos_documento.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="email">{{'Correo electrónico' | translate }}</label>
                                    <input type="email" class="form-control" name="email" placeholder="{{'Ingrese su correo electrónico' | translate }}" ng-model="usuarioActivo.email" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.email.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                    <div class="help-block" ng-show="form.email.$error.email">{{'El formato de correo no es válido' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="first_name">{{'Nombres' | translate }}</label>
                                    <input type="text" class="form-control" name='first_name' placeholder="{{'Ingrese su nombre' | translate }}" ng-model="usuarioActivo.first_name" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.first_name.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="last_name">{{'Apellidos' | translate }}</label>
                                    <input type="text" class="form-control" name="last_name" placeholder="{{'Ingrese su apellido' | translate }}" ng-model="usuarioActivo.last_name" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.last_name.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="telefono">{{'Teléfono' | translate }}</label>
                                    <input type="number" class="form-control" name="telefono" placeholder="{{'Ingrese su número teléfono' | translate }}" ng-model="usuarioActivo.telefono" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.telefono.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="movil">{{'Teléfono Móvil' | translate }}</label>
                                    <input type="number" class="form-control" name="movil" placeholder="{{'Ingrese su número teléfono móvil' | translate }}" ng-model="usuarioActivo.movil" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.movil.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="fecha_nacimiento">{{'Fecha de Nacimiento' | translate }}</label>
                                    <input type="date" class="form-control" placeholder="dd-MM-yyyy" name="fecha_nacimiento" ng-model="date.fecha_nacimiento" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="genero">{{'Genero' | translate }}</label>
                                    <select class="form-control" name="genero" ng-options="option.name for option in generos.availableOptions track by option.id" ng-model="generos.selectedOption">
                                        <option disabled value> -- {{'Eliga una opción' | translate }} -- </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="pais">{{'País' | translate }} *</label>
                                    <input type="text" class="form-control" name="pais" placeholder="{{'Ingrese su país' | translate }}" ng-model="usuarioActivo.pais" ng-model-options="{ updateOn: 'blur' }" required>
                                    <!--<select name="pais" id="pais" class="form-control" ng-disabled="!paises" ng-model="usuarioActivo.pais_id" ng-options="pais.id as pais.name for pais in paises track by pais.sortname" ng-change="updateDropDownDepartamentos(usuarioActivo.pais_id)">
                                        <option disabled value="">Seleccione su país</option>
                                    </select>-->
                                    <div class="help-block" ng-show="form.pais.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="departamento">{{'Departamento' | translate }} *</label>
                                    <input type="text" class="form-control" name="departamento" placeholder="{{'Ingrese su departamento' | translate }}" ng-model="usuarioActivo.departamento" ng-model-options="{ updateOn: 'blur' }" required>
                                    <!--<select name="departamento" id="departamento" class="form-control" ng-disabled="!usuarioActivo.pais_id" ng-model="usuarioActivo.departamento_id" ng-options="departamento.id as departamento.name for departamento in departamentos_filter track by departamento.name" ng-change="updateDropDownCiudades(usuarioActivo.departamento_id)">
                                        <option disabled value="">Seleccione su departamento</option>
                                    </select>-->
                                    <div class="help-block" ng-show="form.departamento.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="municipio">{{'Municipio' | translate }} *</label>
                                    <input type="text" class="form-control" name="municipio" placeholder="{{'Ingrese su municipio o ciudad' | translate }}" ng-model="usuarioActivo.municipio" ng-model-options="{ updateOn: 'blur' }" required>
                                    <!--<select name="municipio" id="municipio" class="form-control" ng-disabled="!usuarioActivo.departamento_id" ng-model="usuarioActivo.municipio_id" ng-options="ciudad.id as ciudad.name for ciudad in ciudades_filter track by ciudad.name">
                                        <option disabled value="">Seleccione su ciudad o municipio</option>
                                    </select>-->
                                    <div class="help-block" ng-show="form.municipio.$error.required">{{'El campo es obligatorio' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="comunidad">{{'Comunidad' | translate }}</label>
                                    <input type="text" class="form-control" name="comunidad" placeholder="{{'Ingrese la comunidad a la que pertenece' | translate }}" ng-model="usuarioActivo.comunidad" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.comunidad.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="zona">{{'Zona' | translate }}</label>
                                    <input type="text" class="form-control" id="zona" name="zona" placeholder="{{'Ingrese la zona en la que vive' | translate }}" ng-model="usuarioActivo.zona" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.zona.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="etnia">{{'Etnia' | translate }}</label>
                                    <select class="form-control" name="etnia" ng-options="option.name for option in etnias.availableOptions track by option.id" ng-model="etnias.selectedOption">
                                        <option disabled value> -- {{'Eliga una opción' | translate }} -- </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="direccion">{{'Dirección' | translate }}</label>
                                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="{{'Ingrese su dirección de residencia' | translate }}" ng-model="usuarioActivo.direccion" ng-model-options="{ updateOn: 'blur' }">
                                    <div class="help-block" ng-show="form.direccion.$error.required">{{'El campo es obligatorio' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="botones">
                                <div class="col">
                                    <button type="submit" class="btn btn-default center-block" ng-disabled="form.$invalid" ion-ripple>{{'Guardar Cambios' | translate }}</button>
                                    <a class="button cancelar" href="#/app/perfil">{{'Cancelar' | translate }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col">
                                    <p>(*) {{'Campos obligatorios' | translate }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
