@font-face {
    font-family: Muli;
    src: url(../fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(../fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-Italic;
    src: url(../fonts/Muli-Italic.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/raleway/Raleway-Bold.ttf);
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #f5f5f5;
}

.pane,
.view {
    background-color: #f5f5f5;
}

ng-view {
    height: 100%;
}


/* LAZY LOADING IMAGENES*/

.image-loader-container {
    margin: 9px;
    max-width: 81px;
    max-height: 81px;
    width: 100%;
    height: 100%;
    top: calc(110px - 50px);
    /*Ajustar estaas lineas para cada una de las imagenes*/
    left: calc(50% - 50px);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}


/* RIPPLE EFFECT */

button {
    position: relative;
    outline: none;
    overflow: hidden;
}

.ion-ripple {
    background-color: #000000 !important;
}

.ion-ripple_animate {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important
}


/* END RIPPLE EFFECT*/


/* LOGIN - INTRO*/

.login {
    background-color: #00c97e;
    background-image: url('../img/login-bg.png');
    background-position: center center;
    height: 100%;
    width: 100%;
}

.login .logo {
    margin-top: 6em;
    text-align: center;
}

.login .login-sonido,
.intro .intro-sonido {
    background-color: #ffffff;
    width: 58px;
    height: 58px;
    position: absolute;
    top: 1em;
    right: 14px;
    border-radius: 29px;
    text-align: center;
    font-weight: normal;
    font-size: 19pt;
    color: #00c97e;
    border: none;
}

.login .login-sonido a {
    text-decoration: none;
}

.login form {
    margin-top: 6em;
}

.login form .form-group {
    padding: 0px;
}

.login form .form-group input {
    font-family: Avenir;
    font-weight: lighter;
    color: #ffffff;
    background-color: #00c97e;
    font-size: 13pt;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #80e4bf;
    box-shadow: none;
    padding-bottom: 5px;
    margin-top: 27px;
    padding-left: 55px;
    font-family: 'Muli-Light', sans-serif;
}

.login form .form-group .ldocumento {
    background-image: url('../img/icons/ico-documento.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.login form .form-group .lcodigo {
    background-image: url('../img/icons/ico-codigo.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 48px;
}

.login form .form-group textarea:focus,
.login form .form-group input:focus,
.login form button:focus {
    outline: none;
}

.login form .form-group input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ffffff;
}

.login form .form-group input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    opacity: 1;
}

.login form .form-group input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}

.login form .form-group input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

.login .btn-default {
    font-family: 'Muli', sans-serif;
    background-color: #00c97e;
    height: 58px;
    width: 100%;
    border: solid 3px #ffffff;
    border-radius: 29px;
    font-size: 16pt;
    color: #ffffff;
    margin-top: 68px;
}

.login .btn-default[disabled] {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.login .btn-default:focus,
.login .btn-default:active {
    outline: 0;
}

.login .help-block {
    text-align: center;
    color: #d200ff;
    margin-top: 5px;
    font-size: 9pt;
}

.login .logo-wfp {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0px;
}

.intro {
    background-color: #00c97e;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.intro .slider {
    height: 100%;
    ;
}

.intro .slide-body {
    padding-top: 30%;
}

.intro h1 {
    font-size: 18pt;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
}

.intro h2 {
    font-size: 16pt;
    margin-bottom: 45px;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
}

.intro p {
    font-size: 12pt;
    margin-bottom: 50px;
    font-family: 'Muli', sans-serif;
}

.intro img {
    margin-bottom: 30px;
}

.intro .btn-default {
    margin-top: 28px;
    text-transform: uppercase;
    text-shadow: none;
    color: #005d3a;
    background-color: #fef418;
    background-image: none;
    border-radius: 23px;
    border: none;
    height: 50px;
    padding: 17px 57px;
    font-size: 12pt;
    margin-bottom: 10px;
    width: 100%;
    letter-spacing: 5px;
}

.intro .slider-pager .slider-pager-page.active {
    color: #fef418;
}


/* END LOGIN - INTRO*/


/* MENU LEFT */

.app {
    background-color: #f5f5f5;
}

.menu-left {
    background-color: #00c97e;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.menu-left .item {
    border: none;
}

.menu-left .bar.bar-stable {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    padding-top: 16px;
    padding-left: 16px;
    height: 57px;
}

.has-header {
    top: 64px;
}

.menu-left .item-content {
    background-color: #00c97e;
    border: none;
    font-size: 14pt;
    line-height: 35px;
    margin-bottom: 0;
    color: #ffffff;
}

.menu-left .item-content.activated {
    background-color: #2f6551;
}

.menu-left .item-content img {
    position: relative;
    top: 10px;
}

.item-complex .item-content,
.item-radio .item-content {
    padding: 3px 0 0 16px;
    height: 57px;
}

.menu-left .item-content.active,
.menu-left .item-content.active:focus,
.menu-left button.item-content:focus {
    background-color: #2f6551;
    border-color: #2f6551;
    color: #ffffff;
}

.menu-left .item-content .icono {
    margin-right: 17px;
}

.bar.bar-stable {
    height: 64px;
    background-color: #00c97e;
    color: #ffffff;
    padding-top: 12px;
}

.bar-stable .button {
    color: #ffffff;
}

.bar-stable .button.button-clear {
    color: #ffffff;
    padding: 0;
    padding-right: 5px;
    margin-left: 12px;
}

.bar-stable .title {
    margin-top: 19px;
}

.menu-right .popover {
    height: 155px;
    font-family: 'Muli', sans-serif;
    font-size: 13pt;
}

.menu-right .popover .item {
    padding: 13px 18px;
    border: none;
}


/* END - MENU-LEFT - HEADER*/


/* HOME */

.modulos {
    position: relative;
}

.modulo {
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 8px;
    margin-top: 38px;
    margin-left: 10%;
    margin-right: 10%;
    height: 455px;
    position: relative;
}

.modulo.actual {
    background-color: #0dcd71;
}

.modulo.terminado {
    background-color: #ffba23;
}

.modulos .medalla {
    position: absolute;
    top: 29px;
    right: 36px;
}

.modulo img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    min-height: 220px;
}

.image-loader-container {
    top: calc(110px - 50px);
    left: calc(50% - 50px);
}

.modulo h3,
.modulo h4 {
    color: #0dcd71;
    text-align: center;
    font-size: 17pt;
    margin-top: 38px;
    margin-bottom: 36px;
    padding: 0px 43px;
}

.modulo h4 {
    color: #9eabb3;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

.modulo.actual h3,
.modulo.actual h4,
.modulo.terminado h3,
.modulo.terminado h4 {
    color: #ffffff;
}

.modulo .progress {
    height: 11px;
    margin-bottom: 0px;
    border-radius: 4px;
    width: auto;
    margin: 0 8px 0 8px;
    background-color: #f5f5f5;
    background-image: none;
}

.modulo.actual .progress {
    background-color: #ffffff;
}

.modulo .progress .progress-bar,
.modulo-avance .progress .progress-bar {
    background-color: #feea45;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    border-radius: 4px;
}

.modulo-no-disponible {
    -webkit-filter: grayscale(100%) opacity(40%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%) opacity(40%);
}

.modulo-no-disponible h3,
.modulo-no-disponible h4 {
    color: #000000;
}


/* END MODULOS*/


/* LECCIONES Y TIPS */

.lecciones .lecciones-header,
.tips .tips-header {
    text-align: center;
    margin-top: 15px;
    color: #2f3e47;
    font-size: 12pt;
}

.lecciones .lecciones-header h1,
.tips .tips-header h1 {
    color: #00c97e;
    font-size: 18pt;
    padding: 10px;
    margin: 0 20px;
}

.lecciones .lecciones-header .lecciones-titulo-sonido,
.tips .tips-header .tips-titulo-sonido {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 12pt;
    position: relative;
    top: -5px;
}

.lecciones .lecciones-header p,
.lecciones .lecciones-header img {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.tips .tips-header p {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.lecciones .lecciones-header .lecciones-descripcion-sonido,
.tips .tips-header .tips-descripcion-sonido {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #4d6675;
    position: relative;
    top: -5px;
}

.lecciones .lecciones-body .leccion,
.tips .tips-body .tip {
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    border: 1px solid #dcdcdc;
    margin-bottom: 18px;
    position: relative;
}

.tips .tips-body .tip {
    background-color: #00c97e;
    border: none;
}

.lecciones .lecciones-body .col,
.tips .tips-body .col {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.lecciones .lecciones-body .leccion-sonido,
.tips .tips-body .tip-sonido {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 50px;
    height: 50px;
    color: #00c97e;
    font-size: 12pt;
    position: absolute;
    top: -5px;
    right: 0px;
    z-index: 1;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.tips .tips-body .tip-sonido {
    color: #ffffff;
}

.lecciones .lecciones-body .leccion img {
    margin-top: 15px;
    -webkit-filter: grayscale(100%) opacity(100%);
    filter: grayscale(100%) opacity(100%);
}

.tips .tips-body .tip img {
    margin-top: 7px;
}

.lecciones .lecciones-body .leccion h2,
.tips .tips-body .tip h2 {
    font-size: 12pt;
    color: #2f3e47;
    margin-top: 15px;
}

.tips .tips-body .tip h2 {
    color: #ffffff;
    padding: 0 15px;
    margin-top: 5px;
}

.lecciones .lecciones-body .leccion .leccion-comenzar {
    height: 45px;
    width: 100%;
    color: #ffffff;
    background-color: #09df78;
    border-radius: 0 0 10px 10px;
    font-family: 'Raleway-Bold', sans-serif;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.lecciones .lecciones-body .leccion-terminada,
.lecciones .lecciones-body .leccion-terminada h2,
.lecciones .lecciones-body .leccion-terminada button {
    background-color: #ffba23;
    color: #ffffff;
}

.lecciones .lecciones-body .leccion-terminada img {
    -webkit-filter: none;
    filter: none;
}

.lecciones .lecciones-body .leccion-terminada .leccion-comenzar {
    background-color: #ffa400;
}

.lecciones .lecciones-body .leccion-terminada .leccion-sonido {
    background-color: rgba(0, 0, 0, 0);
}


/* END LECCIONES*/


/* TIPS MODULO */

.tips-modulo {
    background-color: #ffffff;
    height: 100%;
}

.tips-modulo header {
    height: 64px;
    background-color: #00c97e;
    font-size: 15pt;
    color: #ffffff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    position: relative;
}

.tips-modulo header a {
    position: absolute;
    left: 0;
    padding: 21PX;
    top: 0;
    font-size: 15pt;
    color: #ffffff;
}

.tips-modulo header p {
    margin-top: 15px;
}

.tips-modulo .item.item-stable {
    background-color: white;
    font-size: 17pt;
    color: #00c97e;
    line-height: 76px;
    padding: 0px 30px;
    position: relative;
}

.tips-modulo .item.item-stable .icon {
    position: absolute;
    right: 0px;
    font-size: 17px;
    width: 76px;
    height: 76px;
    text-align: center;
    border-radius: 38px;
}

.tips-modulo .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    font-size: 12pt;
    color: #2f3e47;
    white-space: normal;
    line-height: normal;
    padding: 18px 20px 18px 54px;
}

.tips-modulo .list .item.item-accordion:nth-child(even) {
    background-color: #f6f5f5;
}

.tips-modulo .list .item.item-accordion i {
    color: #00c97e;
}

.tips-modulo .list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.tips-modulo .list .item.item-accordion.ng-hide-add,
.tips-modulo .list .item.item-accordion.ng-hide-remove {
    display: block !important;
}


/* END TIPS MODULO*/


/* UNIDADES */

.unidad .leccion-avance {
    font-family: 'Muli', sans-serif;
    background-color: #75a8fe;
    font-size: 12pt;
    color: white;
    width: 100%;
    height: 64px;
    padding-top: 10px;
}

.unidad .leccion-avance-fixed {
    font-family: 'Muli', sans-serif;
    /*background-color: #2f4366;*/
    background-color: #000000;
    font-size: 12pt;
    color: white;
    width: 100%;
    min-height: 85px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.unidad .leccion-avance-fixed::after {
    content: "";
    /*background-image: url("../assets/training/images/P1_1.png");*/
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.unidad .leccion-avance .leccion-avance-cerrar,
.unidad .leccion-avance-fixed .leccion-avance-cerrar {
    float: left;
    text-align: center;
    padding-top: 0px;
}

.unidad .leccion-avance .leccion-avance-progreso {
    padding-right: 30px;
    position: relative;
}

.unidad .leccion-avance-fixed .leccion-avance-cerrar {
    padding-top: 8px;
}

.unidad .leccion-avance button,
.unidad .leccion-avance-fixed button {
    color: #ffffff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    -moz-border: none;
    -webkit-border: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
}

.unidad .leccion-avance-fixed .instruccion {
    font-size: 9pt;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-family: 'Raleway-Bold', sans-serif;
}

.unidad .leccion-avance-fixed .texto {
    font-size: 9pt;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.unidad .leccion-avance .leccion-avance-progreso .progress {
    height: 9px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: auto;
    background-color: #ffffff;
    background-image: none;
    margin-bottom: 0px;
}

.unidad .leccion-avance .leccion-avance-progreso .progress .progress-bar {
    background-color: #fdf418;
    height: 100%;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
}

.unidad .leccion-avance .complete {
    background-color: #e5e5e5;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 19px;
    right: 26px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border: solid 4px #ffffff;
}

.unidad .unidad-tipo {
    background-color: #ffffff;
    height: 68px;
    text-align: left;
    padding-top: 16px;
    font-size: 12pt;
    font-family: 'Muli', sans-serif;
    color: #00965e;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.unidad .unidad-tipo img {
    margin-right: 15px;
    float: left;
    margin-left: 22px;
}

.unidad .unidad-tipo .unidad-tipo-descripcion p {}

.unidad .unidad-tipo .unidad-tipo-descripcion .sonido {
    float: right;
    font-size: 20px;
    margin-right: 23px;
    margin-left: 23px;
}

.unidad .unidad-tipo .unidad-tipo-descripcion .sonido button {
    background-color: rgba(0, 0, 0, 0);
    -moz-border: none;
    -webkit-border: none;
    border: none;
    font-size: 20pt;
    color: #00965e;
    position: relative;
    top: 5px;
}

.unidad .unidad-descripcion {
    color: #2f3e47;
    text-align: center;
    font-size: 12pt;
}

.unidad .unidad-descripcion .fa {
    margin-right: 7px;
}

.unidad .unidad-descripcion .unidad-instruccion {
    margin-top: 20px;
    font-family: 'Muli', sans-serif;
    color: #2f3e47;
    font-size: 14pt;
}

.unidad .unidad-descripcion .unidad-instruccion button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    -moz-border: none;
    -webkit-border: none;
    font-size: 14pt;
    color: #2f3e47;
}

.unidad .unidad-descripcion img {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: solid 1px #dcdcdc;
    width: 100%;
}

.unidad .opciones {
    margin-bottom: 100px;
}

.unidad .opciones.scrolled {
    margin-top: 80px;
    margin-bottom: 150px;
}

.unidad .opciones .opcion,
.unidad .opciones .opcion-pareja {
    background-color: #ffffff;
    height: 100px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #2f3e47;
    text-align: center;
    font-size: 12pt;
}

.unidad .opciones .col {
    position: relative;
}

.unidad .opciones .opcion-sonido {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.unidad .opciones .opcion-sonido button {
    color: #00c97e;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 30px;
    height: 30px;
}

.unidad .opciones .pareja-con-imagen {
    height: 150px;
}

.unidad .opciones .opcion-sonido.sonido-con-imagen {
    top: 105px;
}

.unidad .opciones .pareja-con-imagen .titulo-con-imagen {
    position: initial;
    top: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-top: 20px;
    margin-bottom: 30px;
}

.unidad .opciones .opcion.selected {
    background-color: #75a8fe;
    color: #ffffff;
}

.unidad .opciones .opcion-sonido.selected button {
    color: #75a8fe;
}

.unidad .opciones .wrong {
    background-color: #ff1244;
    color: #ffffff;
}

.unidad .opciones .pareja-match {
    -webkit-filter: grayscale(100%) opacity(40%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%) opacity(40%);
}

.unidad .opciones .pareja-mal {
    animation-name: pareja-mal-animation;
    animation-duration: 2s;
}

@keyframes pareja-mal-animation {
    0% {}
    25% {
        background-color: #ff1244;
        color: #ffffff;
    }
    100% {}
}

.unidad .opciones .opcion p {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
}

.calificar {
    height: 58px;
    background-color: #d0d0d0;
    border: none;
    text-align: center;
    padding: 0px;
}

.habilitado {
    background-color: #00c97e;
}

.calificar button {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 12pt;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.mostrar-tip {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background-color: #d200ff;
    position: fixed;
    bottom: 70px;
    right: 15px;
    text-align: center;
    z-index: 2000;
    -moz-box-shadow: 0 0 10px #d200ff;
    -webkit-box-shadow: 0 0 10px #d200ff;
    box-shadow: 0px 0px 10px #d200ff;
}

.mostrar-tip div {
    padding-top: 14px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.mostrar-tip span {
    color: #ffffff;
    font-size: 31px;
}


/*MODAL FEEDBACK*/

.popup-container .popup {
    width: 95%;
    min-height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: 'Muli', sans-serif;
    color: #2f3e47;
    text-align: center;
}

.popup-container .popup .popup-head {
    padding: 0;
    border: none;
}

.popup-container .popup .calificacion .popup-header,
.salir-unidad .popup .popup-header {
    text-align: center;
    margin-top: 30px;
}

.popup-container .popup .calificacion .popup-header .icon,
.salir-unidad .popup .popup-header .icon {
    display: inline-block;
    color: #ffffff;
    font-size: 30pt;
    height: 86px;
    width: 86px;
    background-color: #09df78;
    border-radius: 43px;
    text-align: center;
    padding-top: 22px;
}

.salir-unidad .popup .popup-header .icon {
    background-color: #ffba23;
}

.popup-container .popup .calificacion .popup-header .wrong {
    background-color: #ff1244;
}

.popup-container .popup .calificacion .mensaje,
.salir-unidad .popup .mensaje {
    text-align: center;
    color: #2f3e47;
    font-size: 12pt;
    margin-top: 20px;
    margin-bottom: 37px;
}

.salir-unidad .popup .mensaje {
    font-size: 16pt;
    padding: 0 30px;
}

.popup-container .popup .calificacion .mensaje i {
    color: #8e8e8e;
}

.salir-unidad .popup .mensaje i {
    color: #00c97e;
}

.salir-unidad .popup .popup-body .button {
    height: 57px;
    background-color: #00c97e;
    font-family: 'Raleway-Bold', sans-serif;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    line-height: 26px;
    width: 100%;
    margin-top: 20px;
}

.popup-container .popup .calificacion .feedback {
    border: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background-color: #f5f5f5;
    font-family: 'Muli', sans-serif;
    text-align: center;
    color: #2f3e47;
    padding: 15px 35px;
}

.popup-container .popup .calificacion .feedback p {
    font-size: 14pt;
    padding-top: 10px;
}

.popup-container .popup .calificacion .feedback .sonido {
    color: #00965e;
}

.popup-container .popup .popup-buttons {
    margin-top: 25px;
    margin-bottom: 10px;
}

.popup-container .popup .popup-buttons .button {
    height: 57px;
    background-color: #00c97e;
    font-family: 'Raleway-Bold', sans-serif;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    line-height: 26px;
}

.salir-unidad .popup .popup-buttons {
    margin: 0;
    padding: 0;
}

.salir-unidad .popup .popup-buttons .button {
    height: 30px;
    background-color: #ffffff;
    letter-spacing: 3px;
    color: #00c97e;
    text-transform: uppercase;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    line-height: 26px;
    font-size: 11pt;
}


/* END MODAL FEEDBACK*/


/* LECCIÓN FINALIZADA */

.leccion-finalizada h1 {
    margin-top: 30px;
    font-size: 12pt;
    color: #2f3e47;
    text-align: center;
}

.leccion-finalizada h1 button {
    color: #2f3e47;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.leccion-finalizada .progreso .progress {
    height: 16px;
    border-radius: 9px;
    width: auto;
    background-color: #ffffff;
    background-image: none;
    border: 3px #ffffff solid;
    margin-top: 15px;
}

.leccion-finalizada .progreso .progress .progress-bar {
    background-color: #fec434;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.leccion-finalizada .progreso .sticker {
    font-size: 10pt;
    border: 3px #ffffff solid;
    color: #ffffff;
    background-color: #09df78;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 0.2em;
    position: absolute;
    right: 0;
    top: 8px;
    animation-name: sticker-size;
    animation-duration: 2.3s;
}

.leccion-finalizada .progreso .sticker span {
    animation-name: sticker-span-size;
    animation-duration: 2.3s;
}

@keyframes sticker-size {
    0% {
        height: 0px;
        width: 0px;
        border: 0px;
        right: 8px;
        top: 18px;
    }
    66% {
        height: 0px;
        width: 0px;
        border: 0px;
        right: 8px;
        top: 18px;
    }
    100% {
        height: 30px;
        width: 30px;
        border: 3px #ffffff solid;
        right: 0px;
        top: 8px;
    }
}

@keyframes sticker-span-size {
    0% {
        font-size: 0px;
    }
    66% {
        font-size: 0px;
    }
    100% {
        font-size: inherit;
    }
}

.leccion-finalizada .badget {
    text-align: center;
    margin-top: 30px;
}

.leccion-finalizada .badget p {
    margin-top: 15px;
    font-family: 'Muli-Italic', sans-serif;
    color: #ff5400;
    font-size: 11pt;
}

.leccion-finalizada .badget img {
    animation-name: badget-img;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes badget-img {
    0% {
        height: 228px;
        margin: 0px;
    }
    50% {
        height: 240px;
        margin: -6px;
    }
    100% {
        height: 228px;
        margin: 0px;
    }
}

.leccion-finalizada .badget p .fa {
    color: #ffa67a;
    font-size: 11pt;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.leccion-finalizada .feedback p {
    font-size: 16pt;
    color: #2f3e47;
    text-align: center;
    margin-top: 30px;
}

.leccion-finalizada .feedback .feedback-sonido {
    position: absolute;
    right: 0px;
    top: 25px;
}

.leccion-finalizada .feedback .feedback-sonido button {
    font-size: 10pt;
    color: #00c97e;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}


/* TABS */

.tabs-top > .tabs,
.tabs.tabs-top {
    top: 0px;
    background-color: #ffffff;
    padding-top: 25px;
    height: 60px;
    background-position: initial;
}

.tab-item {
    max-width: none;
    line-height: 17px !important;
}

.tabs .tab-item .tab-title {
    font-size: 13pt;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Muli', sans-serif;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    border-bottom: 3px solid #00c97e !important;
}

.tabs .tab-item-active .tab-title {
    color: #00c97e;
}


/* FINAL - TABS*/


/* PERFIL Y EDITAR PERFIL */

.perfil-panel {
    margin-top: 80px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.perfil-panel .perfil-header {
    text-align: center;
    position: relative;
    margin-top: 5px;
}

.perfil-panel .perfil-header h1 {
    font-family: 'Muli', sans-serif;
    color: #2f3e47;
    text-align: center;
    font-size: 17pt;
    margin-top: 10px;
}

.perfil-panel .boton-flotante {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

.perfil-panel.editar-perfil {
    margin-top: 0px;
}

.perfil-panel .boton-flotante button,
.perfil-panel .boton-flotante button:hover {
    height: 38px;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #dcdcdc;
    border-radius: 7px;
    padding: 8px 14px;
    font-weight: normal;
}

.perfil-panel .boton-flotante button .icon {
    color: #00c97e;
}

.perfil-panel .perfil-body .form-group {
    margin-bottom: 0;
}

.perfil-panel .perfil-header h3 {
    font-size: 7pt;
    font-family: 'Raleway-Bold', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    border-top: 2px solid #dcdcdc;
    margin-top: 20px;
    padding-top: 10px;
}

.perfil-body .form-group p,
.perfil-body .form-group .sin-registro,
.modal-dialog .form-group p,
.modal-dialog .form-group .sin-registro {
    font-size: 10pt;
    padding: 0px 5px;
}

.perfil-body .form-group .form-control,
.modal-dialog .form-group .form-control {
    height: 38px !important;
    border: 1px solid #dcdcdc;
    border-radius: 18px;
    font-size: 10pt;
    width: 100%;
    padding-left: 15px;
}

.perfil-body .form-group .sin-registro,
.modal-dialog .form-group .sin-registro {
    color: #c2c5c7;
}

.perfil-body .form-group select.form-control:not([multiple]),
.modal-dialog .form-group select.form-control:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/icons/ico-selector.png');
    padding: 6px 22px;
}

.perfil-body .form-group label,
.modal-dialog .form-group label {
    padding-left: 5px;
    font-size: 7pt;
    font-family: 'Raleway-Bold', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.perfil-body .form-group .error,
.perfil-body form .message,
.modal-dialog .form-group .error,
.modal-dialog form .message {
    font-size: 10px;
    color: #fc4cab;
    text-align: center;
}

::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/icons/ico-datepicker.png');
    padding: 6px 22px;
}

.perfil-body .btn-default,
.modal-dialog .btn-default {
    margin-top: 28px;
    text-transform: uppercase;
    text-shadow: none;
    color: white;
    background-color: #fc4cab;
    background-image: none;
    border-radius: 23px;
    border: none;
    height: 50px;
    padding: 17px 57px;
    font-size: 12pt;
    margin-bottom: 10px;
    width: 100%;
    letter-spacing: 3px;
    font-family: 'Raleway-Bold';
}

.perfil-body .form-group .form-control[disabled],
.perfil-body .form-group.form-control[readonly],
.perfil-body .form-group fieldset[disabled] .form-control {
    background-color: #f5f5f5;
}

.perfil-body .miembros-header div {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.perfil-body .miembros-body {
    text-align: center;
}

.perfil-body .miembros-body .row {
    padding: 10px 0;
}

.perfil-body .panel-group .panel {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #dcdcdc;
    padding: 25px 0px;
    font-size: 12pt;
}

.perfil-body .panel-group .panel-first {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    border: none;
}

.perfil-body .panel-default>.panel-heading+.panel-collapse .perfil-body {
    border-top-color: #ffffff;
    margin-top: 15px;
}

.perfil-body .panel-default>.panel-heading {
    background-image: none;
    background-color: #ffffff;
    text-align: center;
}

.perfil-body .panel-first>.panel-heading {
    padding: 0;
}

.perfil-body .panel-group .panel .editar-miembro a {
    color: #fc4cab;
    text-decoration: underline;
}


/* END PERFIL Y EDITAR PERFIL */


/* COMPRAS*/

.compras-tab {
    margin-top: 61px;
}

.compras-tab .compras-descripcion {
    margin-top: 35px;
    font-size: 13pt;
    color: #2f3e47;
    text-align: center;
    padding: 0 20px;
}

.compras-tab .compras-descripcion i {
    color: #2f3e47;
}

.compras-tab .compras-porcentajes {
    margin-top: 10px;
}

.compras-tab .compras-porcentajes .col,
.compras-tab .compras-porcentajes .row {
    padding-left: 0px;
    padding-right: 0px;
}

.compras-tab .compras-porcentajes .compras-porcentaje-tipo {
    height: 62px;
}

.compras-tab .compras-porcentajes .compras-porcentaje-tipo p {
    text-align: right;
    color: #2f3e47;
    text-transform: uppercase;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 9pt;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra {
    padding-left: 15px;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress {
    background-color: #efefef;
    height: 62px;
    position: relative;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .progress-bar {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 62px;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .cantidad {
    text-align: right;
    font-size: 19pt;
    position: absolute;
    top: 22px;
    right: 50px;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .cantidad span {
    font-size: 11pt;
    position: relative;
    top: -5px;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .icon {
    font-size: 24pt;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 16px;
    right: 10px;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-CEREALES,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-1,
.compras-tab .recomendados-body .item.item-stable.grupo-1,
.compras-grupo header.grupo-1,
.compras-grupo .progress-radial .overlay.grupo-1 {
    background-color: #f2df00 !important;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-LECHELACTEOS,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-3,
.compras-tab .recomendados-body .item.item-stable.grupo-3,
.compras-grupo header.grupo-3,
.compras-grupo .progress-radial .overlay.grupo-3 {
    background-color: #0fa7ff;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-CARNES,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-4,
.compras-tab .recomendados-body .item.item-stable.grupo-4,
.compras-grupo header.grupo-4,
.compras-grupo .progress-radial .overlay.grupo-4 {
    background-color: #ff9600;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-VEGETALES,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-5,
.compras-tab .recomendados-body .item.item-stable.grupo-5,
.compras-grupo header.grupo-5,
.compras-grupo .progress-radial .overlay.grupo-5 {
    background-color: #7bd462;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-GRASAS,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-7,
.compras-tab .recomendados-body .item.item-stable.grupo-7,
.compras-grupo header.grupo-7,
.compras-grupo .progress-radial .overlay.grupo-7 {
    background-color: #ff037a;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-AZUCAR,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-8,
.compras-tab .recomendados-body .item.item-stable.grupo-8,
.compras-grupo header.grupo-8,
.compras-grupo .progress-radial .overlay.grupo-8 {
    background-color: #d360fe;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-CONDIMENTOS,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-9,
.compras-tab .recomendados-body .item.item-stable.grupo-9,
.compras-grupo header.grupo-9,
.compras-grupo .progress-radial .overlay.grupo-9 {
    background-color: #bd8330;
}

.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-NOGRUPO,
.compras-tab .compras-porcentajes .compras-porcentaje-barra .progress .grupo-0,
.compras-tab .recomendados-body .item.item-stable.grupo-0,
.compras-grupo header.grupo-0,
.compras-grupo .progress-radial .overlay.grupo-0 {
    background-color: #000000;
}


/* Recomendados */

.compras-tab .recomendados-header {
    margin-top: 25px;
    color: #2f3e47;
    font-size: 12pt;
    position: relative;
}

.compras-tab .recomendados-header img {
    float: left;
    margin-left: 15px;
    margin-right: 10px;
}

.compras-tab .recomendados-header p {
    margin-top: 27px;
    text-align: right;
    margin-right: 10px;
}

.compras-tab .recomendados-header i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10pt;
    color: #4d6675;
}

.compras-tab .recomendados-body {
    margin-top: 5px;
}

.compras-tab .recomendados-body .item.item-stable {
    font-size: 8pt;
    text-transform: uppercase;
    font-family: 'Raleway-Bold', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin-top: 6px;
    border-radius: 7px;
    height: 48px;
    border-width: 0px;
    position: relative;
    line-height: 35px;
}

.compras-tab .recomendados-body .item-stable.active {
    border-radius: 7px 7px 0 0;
}

.compras-tab .recomendados-body .item {
    border-color: #dcdcdc;
    background-color: #fff;
    color: #2f3e47;
    padding: 7px;
    border-width: 1px;
    border-style: solid;
    font-size: 12pt;
    padding-left: 10px;
}

.compras-tab .recomendados-body .item img {
    float: left;
    margin-right: 15px;
}

.compras-tab .recomendados-body .item i {
    font-size: 14pt;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 12px;
}

.compras-tab .recomendados-body .list .item.item-accordion {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.compras-tab .recomendados-body .list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.compras-tab .recomendados-body .list .item.item-accordion.ng-hide-add,
.compras-tab .recomendados-body .list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.compras-tab .recomendados-body .list .item.item-accordion:last-child {
    border-radius: 0 0 7px 7px;
}

.compras-tab .recomendados-body .list .item.item-accordion:nth-child(odd) {
    background-color: #f5f5f5;
}


/* END COMPRAS*/


/* COMPRAS GRUPO */

.compras-grupo {
    background-color: #ffffff;
}

.compras-grupo header {
    color: #ffffff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    position: relative;
}

.compras-grupo header .titulo {
    height: 64px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}

.compras-grupo header .titulo a {
    position: absolute;
    left: 0;
    top: 0;
    padding: 21PX;
    font-size: 15pt;
    color: #ffffff;
}

.compras-grupo header .titulo h1 {
    margin-top: 0px;
    font-size: 15pt;
    color: #ffffff;
    margin-left: 45px;
}

.compras-grupo header .sub-header {
    height: 108px;
    padding-top: 17px;
    padding-bottom: 10px;
}

.compras-grupo header .sub-header .total-compra {
    text-align: right;
    font-size: 25pt;
    border-right: rgba(255, 255, 255, 0.4) 1px solid;
    padding-bottom: 0px;
    padding-right: 30px;
}

.compras-grupo header .sub-header .total-compra .valor {
    font-size: 20pt;
    margin-bottom: 0px;
}

.compras-grupo header .sub-header .estado {
    text-align: left;
    border-left: rgba(255, 255, 255, 0.4) 1px solid;
    padding-bottom: 0px;
    padding-left: 30px;
}

.compras-grupo .compras-grupo-descripcion {
    margin-top: 35px;
    font-size: 13pt;
    color: #2f3e47;
    text-align: center;
    padding: 0 20px;
}

.compras-grupo .compras-grupo-descripcion i {
    color: #2f3e47;
}

.compras-grupo .compras-resumen {
    color: #2f3e47;
    font-size: 12pt;
    font-family: 'Muli', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

.compras-grupo .compras-resumen .nombre-producto {
    margin-bottom: 25px;
}

.compras-grupo .compras-resumen .precio {
    text-align: right;
    font-size: 13pt;
}

.compras-grupo .compras-resumen .totales {
    border-top: 1px solid #7f7f7f;
    font-size: 17pt;
    padding-top: 15px;
}

.compras-grupo .compra-ideal {
    margin-top: 55px;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.compras-grupo .compra-ideal .list .item.item-accordion {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.compras-grupo .compra-ideal .list .item.item-accordion:nth-child(odd) {
    background-color: #ffffff;
}

.compras-grupo .compra-ideal .list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.compras-grupo .compra-ideal .list .item.item-accordion.ng-hide-add,
.compras-grupo .compra-ideal .list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.compras-grupo .compra-ideal .item {
    border: none;
    background-color: #f6f5f5;
    color: #2f3e47;
    padding: 7px;
    font-size: 12pt;
    padding-left: 27px;
}

.compras-grupo .compra-ideal .item img {
    float: left;
    margin-right: 20px;
}

.compras-grupo .compra-ideal .item h3 {
    font-size: 16px;
    color: #2f3e47;
    font-family: 'Muli', sans-serif;
    padding-top: 10px;
    margin-top: 12px;
}

.compras-grupo .compra-ideal .item h3 .icon {
    font-size: 10pt;
    color: #4d6675;
    position: relative;
    top: -5px;
}

.compras-grupo .compra-ideal .item h4 {
    color: #00c97e;
    text-transform: uppercase;
    font-size: 9pt;
    font-family: 'Raleway-Bold', sans-serif;
}

.compras-grupo .compra-ideal .item.item-stable {
    background-color: #ffffff;
    position: relative;
    border: none;
}

.compras-grupo .compra-ideal .item.item-stable>.icon {
    font-size: 14pt;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 43px;
    right: 16px;
}


/*  END - COMPRAS GRUPO */


/* PROGRESO */

.progreso .pane {
    background-color: #6dffc9;
}

.progreso .progreso-tab {
    margin-top: 61px;
    padding: 30px 15px;
    height: 100%;
}

.progreso .progreso-tab .progreso-panel {
    background-color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 12px 14px;
    width: 100%
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia img {
    margin-left: 6px;
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia p {
    font-size: 13pt;
    color: #ff5400;
    font-family: 'Muli-Italic', sans-serif;
    margin-top: 20px;
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia p .icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 12px;
    color: #ff5400;
    height: 40px;
    width: 40px;
    z-index: 1;
    position: relative;
    top: -6px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.progreso .progreso-tab .progreso-panel .progreso-porcentaje {
    padding: 25px 0px 20px 0px;
    border-bottom: 1px solid #cccccc;
}

.progreso .progreso-tab .progreso-panel .progreso-porcentaje .row {
    margin: 0 auto;
    width: 170px;
}

.progreso .progreso-tab .progreso-panel .progreso-resumen {
    color: #2f3e47;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 9pt;
    margin-bottom: 40px;
}

.progreso .progreso-tab .progreso-panel .progreso-resumen img {
    float: left;
    margin-right: 7px;
    margin-top: 15px;
}

.progreso .progreso-tab .progreso-panel .progreso-resumen span {
    font-size: 25pt;
    font-family: 'Muli-Italic', sans-serif;
    line-height: 18pt;
}

.progreso .progreso-tab .progreso-panel .progreso-familia {
    color: #2f3e47;
    border-bottom: 1px #cccccc solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .row {
    position: relative;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .row .sonido {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10pt;
    color: #ffa67a;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .miembro-familia {
    font-size: 11pt;
    color: #2f3e47;
    margin-top: 14px;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .lider .miembro-familia {
    font-size: 17pt;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .medallas img {
    float: left;
    margin-right: 7px;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .medallas {
    font-size: 16pt;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .lider .medallas {
    color: #ff5400;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .medallas span {
    font-size: 9pt;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
}


/* FINAL - PROGRESO */


/* SOBRE */

.sobre {
    background-color: #ffffff;
    height: 100%;
}

.sobre header {
    height: 64px;
    background-color: #00c97e;
    font-size: 15pt;
    color: #ffffff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    position: relative;
}

.sobre header a {
    position: absolute;
    left: 0;
    padding: 21PX;
    top: 0;
    font-size: 15pt;
    color: #ffffff;
}

.sobre header p {
    margin-top: 15px;
}

.sobre .sobre-body {
    text-align: center;
    color: #2f3e47;
    font-size: 12pt;
}

.sobre .sobre-body .nf-logo img {
    margin-top: 50px;
    margin-bottom: 5px;
}

.sobre .sobre-body .descripcion p {
    font-size: 14pt;
    margin-top: 25pt;
    padding: 0 35px;
}

.sobre .sobre-body .wfp-ia-logo img {
    margin-top: 25px;
}

.sobre .sobre-body .copyright {
    margin-top: 35px;
}


/* END - SOBRE */
