.modulos {
    position: relative;
}

.modulos .caja {
    max-width: 400px;
    margin: 0 auto;
}

.modulo {
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 8px;
    margin-top: 38px;
    margin-left: 10%;
    margin-right: 10%;
    height: 460px;
    position: relative;
}

.modulo.actual {
    background-color: #0dcd71;
}

.modulo.terminado {
    background-color: #ffba23;
}

.modulos .caja .imagenesDescargadas{
    position: absolute;
    top: 43px;
    right: 14%;
    font-size: 30px;
    color: #ffffff;
}

.modulos .modulo .medalla {
    position: absolute;
    top: -15px;
    left: -15px;
}

.modulos .modulo .medalla img {
    margin: 0px;
    padding: 0px;
}

.modulo img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.image-loader-container {
    top: calc(110px - 50px);
    left: calc(50% - 50px);
}

.modulo h3,
.modulo h4 {
    color: #0dcd71;
    text-align: center;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0px 10px;
}

.modulo h4 {
    color: #9eabb3;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.modulo.actual h3,
.modulo.actual h4,
.modulo.terminado h3,
.modulo.terminado h4 {
    color: #ffffff;
}

.modulo .progress {
    height: 11px;
    margin-bottom: 0px;
    border-radius: 4px;
    width: 90%;
    margin: 0 5%;
    background-color: #f5f5f5;
    background-image: none;
    position: absolute;
    bottom: 10px;
}

.modulo.actual .progress {
    background-color: #ffffff;
}

.modulo .progress .progress-bar,
.modulo-avance .progress .progress-bar {
    background-color: #feea45;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    border-radius: 4px;
}

.modulo-no-disponible {
    -webkit-filter: grayscale(100%) opacity(40%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%) opacity(40%);
}

.modulo-no-disponible h3,
.modulo-no-disponible h4 {
    color: #000000;
}