<div class="col-xs-12" ng-show="leccion.activo">
    <div class="opcion {{ leccion.class}}" ng-click="click()">
        <!--<div class="leccion-ok" ng-show="leccion.terminada"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>-->
        <p>Paso {{ index}}: {{ leccion.titulo}}</p>  
        <!--<div class="boton"> 
            <span class="btn btn-default center-block" role="button">
                <span ng-show="leccion.terminada">Repetir</span>
                <span ng-hide="leccion.terminada">Comenzar</span>
            </span>
        </div>-->
    </div>
</div>