<ion-view>
    <ion-content overflow-scroll="true" class="auth auth-login">
        <div class="btn-back">
            <a href="#/auth"><img src="img/nutricompra/nc-btn-back.png"></a>
        </div>
        <!--<button ng-click="playAudio('audiologin')" class="login-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>-->
        <div class="row logo center-block">
            <div class="col col-100">
                <img src="img/logo-nutrifami.png" alt="Nutrifami" />
            </div>
        </div>

        <div>
            <div class="col col-80 col-offset-10">
                <h2>¡Aprenda Jugando sobre nutrición, alimentación y hábitos saludables!</h2>
            </div>
        </div>


        <form name="form" ng-submit="login()" role="form">
            <div class="help-block"><span ng-show="error">{{error}}</span></div>
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input">
                        <input type="password" placeholder="Escriba su contraseña" autocomplete="off" ng-model="formLogin.password" required>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <a href ng-click="olvidoContrasena()">¿Ha olvidado la contraseña?</a>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <button type="submit" class="btn btn-default center-block" ng-disabled="form.$invalid">INGRESAR</button>
                </div>
            </div>
        </form>

        <!--<div class="redes-sociales">
            <div class="row">
                <div class="col">
                    <p>Puedes ingresar con: </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block facebook" ng-click="authenticate('facebook')"><i class="icon ion-social-facebook"></i> Facebook
                </div>
                <div class="col">
                    <button class="button button-block google" ng-click="authenticate('google')"><i class="icon ion-social-google"></i> Google</button>
                </div>
            </div>
        </div>-->
    </ion-content>
</ion-view>