
.lecciones .lecciones-header,
.tips .tips-header {
    text-align: center;
    margin-top: 0px;
    color: #2f3e47;
    font-size: 12pt;
}

.lecciones .lecciones-header h1,
.tips .tips-header h1 {
    color: #00c97e;
    font-size: 18pt;
    padding: 5px;
    margin: 0 20px;
}

.lecciones .descripcion-modulo {
    position: relative;
}

.lecciones .lecciones-header .lecciones-titulo-sonido,
.tips .tips-header .tips-titulo-sonido {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    position: relative;
    top: -2px;
}

.lecciones .lecciones-header img {
    margin-top: 0px;
    padding: 0px;
    width: 60%;
}

.tips .tips-header p {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.lecciones .lecciones-header .lecciones-descripcion-sonido,
.tips .tips-header .tips-descripcion-sonido {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #4d6675;
    font-size: 20px;
}

.lecciones .lecciones-body .leccion,
.tips .tips-body .tip {
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    border: 1px solid #dcdcdc;
    margin-bottom: 0px;
    position: relative;
}

.tips .tips-body .tip {
    background-color: #00c97e;
    border: none;
}

.lecciones .lecciones-body .col,
.tips .tips-body .col {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.lecciones .lecciones-body .leccion-sonido,
.tips .tips-body .tip-sonido {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 60px;
    height: 60px;
    color: #00c97e;
    font-size: 20px;
    position: absolute;
    top: -5px;
    right: 0px;
    z-index: 1;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.tips .tips-body .tip-sonido {
    color: #ffffff;
}

.lecciones .lecciones-body .leccion img {
    margin-top: 10px;
    -webkit-filter: grayscale(100%) opacity(100%);
    filter: grayscale(100%) opacity(100%);
}

.tips .tips-body .tip img {
    margin-top: 7px;
    width: 65%;
}

.lecciones .lecciones-body .leccion .text{
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lecciones .lecciones-body .leccion h2,
.tips .tips-body .tip h2 {
    font-size: 0.9rem;
    color: #2f3e47;
    margin: 0px;
}

.tips .tips-body .tip h2 {
    color: #ffffff;
    padding: 0 15px;
    margin-top: 5px;
}

.lecciones .lecciones-body .leccion .leccion-comenzar {
    height: 45px;
    width: 100%;
    color: #ffffff;
    background-color: #09df78;
    border-radius: 0 0 10px 10px;
    font-family: 'Raleway-Bold', sans-serif;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none
}

.lecciones .lecciones-body .leccion-terminada,
.lecciones .lecciones-body .leccion-terminada h2,
.lecciones .lecciones-body .leccion-terminada button {
    background-color: #ffba23;
    color: #ffffff;
}

.lecciones .lecciones-body .leccion-terminada img {
    -webkit-filter: none;
    filter: none;
}

.lecciones .lecciones-body .leccion-terminada .leccion-comenzar {
    background-color: #ffa400;
}

.lecciones .lecciones-body .leccion-terminada .leccion-sonido {
    background-color: rgba(0, 0, 0, 0);
}