.recetas-buscar .pane,
.recetas-buscar .view {
    background-color: #ffffff;
}

.filter-bar .bar.bar-stable,
.filter-bar .bar.bar-light,
.recetas-buscar .bar-header {
    height: 64px;
    background-color: #ffffff;
    padding-top: 12px;
    border-bottom: 1px solid #00c97e;
}

.filter-bar .bar-stable .button.button-clear,
.filter-bar .bar-light .button.button-clear {
    color: #00c97e;
    padding: 0;
    padding-right: 5px;
    margin-left: 12px;
}

.filter-bar .placeholder-icon,
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel {
    color: #00c97e;
}

.filter-bar button.filter-bar-clear.button.button-icon.icon.ion-android-close:before {
    color: #00c97e;
    width: 21px;
}

.filter-bar button.filter-bar-clear.button.button-icon.icon.ion-ios-close {

    width: 26px;
}

.filter-bar .filter-bar-wrapper .item-input-inset .icon.placeholder-icon:before,
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel:before {
    font-size: 26px;
}

.bar.item-input-inset .item-input-wrapper input {
    font-size: 125%;
    color: #2f3e47;
    font-family: 'Muli', sans-serif;
}

.recetas-buscar .filtros {
    background-color: #f5f5f5;
}

.recetas-buscar .filtros .col-25 {
    padding: 8px;
}

.recetas-buscar .filtros h4 {
    font-family: 'Muli', sans-serif;
    color: #00c97e;
}

.recetas-buscar .filtros h4 .icon {
    position: relative;
    font-size: 150%;
    top: 3px;
}

.recetas-buscar .filtros button {
    background-color: #ebebeb;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #2f3e47;
    font-family: 'Muli-bold', sans-serif;
    padding: 0 20px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.recetas-buscar .receta {
    padding: 17px 0px 10px 0px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #ffffff;
}

.recetas-buscar .receta .img {
    float: left;
    width: 45%;
    padding: 0px 18px 0px 10px;
    height: 100%;
}

.recetas-buscar .receta .img img {
    width: 100%;
}

.recetas-buscar .receta p {
    font-size: 120%;
}


.recetas-buscar .receta .buttons div {
    float: left;
    font-size: 100%;
    margin-right: 20px;
}

.recetas-buscar .receta .buttons div i {
    color: #00c97e;
    font-size: 220%;
    margin-right: 9px;
}

.recetas-buscar .receta .buttons div .numero {
    position: relative;
    top: -6px;
}





.recetas-buscar .no-results {
    padding-top: 80px;
    text-align: center;
}


.recetas-buscar .no-results p {
    font-size: 120%;
    color: #2f3e47;
    padding: 0 10%;
    line-height: 1.5em;
    margin-top: 20px;
}