<div class="receta">
    <div class="bar bar-header bar-light">
        <a class="back-button icon ion-android-arrow-back" ng-click="myGoBack()"></a>
        <div class="buttons">
            <div ion-ripple ng-click="meGusta(receta.id)"><i ng-class="receta.me_gusta == true ? 'icon ion-android-favorite' : 'icon ion-android-favorite-outline'" aria-hidden="true"></i><span class="numero">{{receta.me_gustas}}</span></div>
            <div ion-ripple ng-click="compartirReceta(receta)"><i class="icon ion-android-share" aria-hidden="true"></i><span class="numero">{{receta.compartidos}}</span></div>
        </div>
    </div>
    <ion-view>
        <ion-content class="has-header"><img class="imagen" ng-src="{{receta.imagen != null ? receta.imagen : 'img/recetas/receta-no-imagen.png'}}">
            <div class="row">
                <div class="col">
                    <h2>{{receta.nombre}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col detalles">
                    <div><i class="icon ion-ios-stopwatch-outline" aria-hidden="true"></i><span class="texro">{{receta.tiempo_preparacion}} min</span></div>
                    <div><i class="icon ion-ios-location-outline" aria-hidden="true"></i><span class="texro">{{receta.region}}</span></div>
                    <div><i class="icon ion-ios-pie-outline" aria-hidden="true"></i><span class="texro">{{receta.porciones}} porciones</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 ion-ripple>Ingredientes <!--<i class="icon ion-volume-high" aria-hidden="true"></i>--></h3>
                </div>
            </div>
            <div class="row ingredientes">
                <div class="col">
                    <ul>
                        <li ng-repeat="ingrediente in receta.ingredientes">{{ingrediente.nombre}} - {{ingrediente.cantidad}} {{ingrediente.unidad.unidad}} {{ingrediente.estado}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center" ion-ripple>Preparación <!--<i class="icon ion-volume-high" aria-hidden="true"></i>--></h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ion-slide-box ng-if="receta.pasos">
                        <ion-slide ng-repeat="paso in receta.pasos">
                            <div class="paso" ion-ripple>
                                <div class="icono">
                                    <img src="img/recetas/img-paso.png">
                                </div>
                                <div class="numero">
                                    <h4>{{paso.orden}}</h4>
                                    <!--<i class="icon ion-volume-high" aria-hidden="true"></i>-->
                                </div>
                                <p>{{paso.paso}}</p>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div class="row">
                <div class="col sugerencia" ion-ripple>
                    <hr>
                    <h3>Sugerencia</h3>
                    <!--<i class="icon ion-volume-high" aria-hidden="true"></i>-->
                    <p>{{receta.sugerencia}}</p>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>