<div class="caja">
    <div class="modulo" ng-class="info.avance.finalizado ? 'terminado' : (info.disponible ? 'actual':'')" ng-show="info.activo" ng-click="!info.disponible || irAlModulo()">
        <img src="{{TARGETPATH}}{{info.imagen.nombre}}">
        <div class="caption">
            <h3>{{ info.titulo.texto}}</h3>
            <h4>{{ info.avance.leccionesFinalizadas}} / {{ totalLecciones()}}</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ porcentajeAvance()}}%;">
                </div>
            </div>
        </div>
        <div class="medalla" ng-show="info.avance.finalizado ? 'terminado' : ''"><img src="img/icons/ico-modulo-medalla.png" alt="" /></div>
        <div class="descarga" ng-show="descargado">
            <i class="ion-checkmark-circled"></i>
        </div>
    </div>
</div>