<div class="caja">
    <div class="modulo actual" ng-class="avance.completo ? 'terminado' : ''" ng-show="info.activo" ng-click="irAlModulo()">
        <img src="{{assetpath}}{{info.imagen.nombre}}">
        <div class="caption">
            <h3>{{ info.titulo.texto}}</h3>
            <h4>{{ avance.completados}} / {{ avance.totalLecciones}}</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ avance.porcentaje }}%;">
                </div>
            </div>
        </div>
        <div class="medalla terminado" ng-show="avance.completo ? 'terminado' : ''"><img src="img/icons/ico-modulo-medalla.png" alt="" /></div>

    </div>
    <div class="imagenesDescargadas" ng-click="abrirDescargas()" ng-hide="paqueteDescargado()">
        <i class="icon {{icon_descarga}}"></i>
    </div>
</div>