<div class="nutricompra">
    <div class="cerrar">
        <button ui-sref="nf.cap_home" class="icon ion-close-round" aria-hidden="true" ion-ripple></button>
    </div>
    <div class="panel intro">
        <div class="row">
            <div class="col">
                <img class="center-block logo" src="img/nutricompra/nutricompra-logo.png">
                <img class="center-block carrito" src="img/nutricompra/nutricompra-home-image.png">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2><!--<a href="#/nutricompra/como-jugar">¿Cómo Jugar?</a>--></h2>
                <a href="#/nutricompra/como-jugar" class="btn btn-default center-block" role="button">Jugar</a>
            </div>
        </div>
    </div>
</div>
