<ion-view>
    <ion-content class='home'>
        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshRecetas()"></ion-refresher>
        <div class="row home-header">
            <div class="col" ng-click="playAudio('audio1')" ion-ripple>
                <h1><!--<i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i>-->Capacitaciones Activas</h1>
            </div>
        </div>
        <!--<div class="row busqueda">
            <div class="col">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Buscar recetas" ng-model="search.text" ng-click="irABuscar()">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                </label>
            </div>
        </div>
        <div class="row home-header">
            <div class="col" ng-click="playAudio('audio2')" ion-ripple>
                <h1><i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i>Activas</h1>
            </div>
        </div>-->
        <div class="capacitaciones" ng-repeat="capacitacion in capacitaciones">
            <div class="row">
                <div class="col">
                    <div class="tarjeta">
                        <!--<div class="audio"><i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i></div>-->
                        <div class="descarga"><i class="icon {{ICON_DESCARGA}}" ng-hide="paqueteDescargado(capacitacion.id)" aria-hidden="true" ng-click="descargarCapacitacion(capacitacion.id)"></i></div>
                        <!--<div class="medalla"><img src="img/icons/ico-modulo-medalla.png" alt="" /></div>-->
                        <div class="img">
                            <img src="img/intro-01.png">
                        </div>
                        <div class="titulo">
                            <h2>{{capacitacion.titulo}}</h2>
                        </div>
                        <p class="progress-text">{{capacitacion.porcentaje}}%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{capacitacion.porcentaje}}%;">
                            </div>
                        </div>
                        <button class="button button-full button-positive" ng-click="abrirCapacitacion(capacitacion.id)">INICIAR</button>
                    </div>
                </div>
            </div>
            
        </div>
        <!--<div class="row home-header">
            <div class="col" ng-click="playAudio('audio1')" ion-ripple>
                <h1><i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i>Otras Capacitaciones</h1>
                <p><i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i>Si quieres continuar aprendiendo puedes suscribirte en las siquientes capacitaciones:</p>
            </div>
        </div>
        <div class="capacitaciones-otras">
            <div class="row">
                <div class="col col-50">
                    <div class="tarjeta">
                        <div class="audio"><i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i></div>
                        <div class="img">
                            <img src="img/intro-01.png">
                        </div>
                        <p>Tìtulo de la otra capacitación</p>
                        <button class="button button-full button-positive">SUSCRIBIRME</button>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="tarjeta">
                        <div class="audio"><i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i></div>
                        <div class="img">
                            <img src="img/intro-01.png">
                        </div>
                        <p>Tìtulo de la otra capacitación</p>
                        <button class="button button-full button-positive">SUSCRIBIRME</button>
                    </div>
                </div>
            </div>
        </div>-->
    </ion-content>
</ion-view>