<ion-view>
    <ion-content>
        <div class='lecciones'>
            <div class="lecciones-header">
                <div class="col">
                    <h1 ng-click="playAudio('audioTitulo')" ion-ripple><i ng-show="audiosDescargados" class="lecciones-titulo-sonido icon ion-volume-high" aria-hidden="true"></i> {{ modulo.titulo.texto }}</h1>
                </div>
                <div class="col">
                    <img ng-src="{{assetpath}}{{modulo.imagen2.nombre}}" />
                </div>
                <div class="col">
                    <div class="descripcion-modulo" ng-click="playAudio('audioDescripcion')" ion-ripple>
                        <i ng-show="audiosDescargados" class="lecciones-descripcion-sonido icon ion-volume-high" aria-hidden="true"></i>
                        <div ng-bind-html="modulo.descripcion.texto | format | trust"></div>
                    </div>
                </div>
            </div>
            <div class="lecciones-body">
                <ng-repeat ng-repeat="leccion in lecciones">
                    <leccion-info leccion="leccion" modulo="modulo" index="{{$index}}"></leccion-info>
                </ng-repeat>
            </div>
        </div>
    </ion-content>
</ion-view>
