<ion-view>
    <ion-content class="capacitador">
        <div class="row header">
            <div class="col">
                <h1>Aprendiz Actual</h1>
                <p style="text-align: center">{{current_trainee.name}} ({{current_trainee.document}})</p>
            </div>
        </div>
        <div class="row header">
            <h1>Otros Aprendices</h1>
        </div>
        <div>
            <div class="list">
                <div class="item item-button-right">
                    Yo ({{user.documento}})
                    <button class="button button-positive" ng-click="changeCurrentTraineeToMe()">
                        Elegir
                    </button>
                </div>
                <div class="item item-button-right" ng-repeat="trainee in trainees track by trainee.document">
                    {{trainee.name}} ({{trainee.document}})
                    <button class="button button-positive" ng-click="changeCurrentTrainee(trainee)">
                        Elegir
                    </button>
                </div>
            </div>
        </div>
        <div class="row header">
            <h1>Aprendiz Nuevo</h1>
        </div>
        <div>
            <form name="form" ng-submit="addTrainee()" role="form">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Nombre" ng-model="form_add_trainee.name" required>
                    </label>
                    <label class="item item-input">
                        <input type="number" placeholder="Documento" ng-model="form_add_trainee.document" required>
                    </label>
                </div>
                <div ng-show="error" class="help-block">{{error}}</div>
                <button type="submit" class="button button-positive" ng-disabled="form.$invalid">
                    <i class="icon ion-plus"> Agregar Aprendiz</i>
                </button>
            </form>
        </div>
        <div class="row header">
            <h1>Subir cambios</h1>
        </div>
        <div>

            <button type="submit" class="button button-positive" ng-click="sinchronizeTraining()">
                <i class="icon ion-plus"> Subir cambios</i>
            </button>
        </div>
    </ion-content>
</ion-view>