<ion-view>
    <ion-content>
        <div class='mis-compras-intro'>
            <div class="row">
                <div class="col titulo" ng-click="playAudio('audio1')" ion-ripple>
                    <h1>Mis Compras <i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i></h1>
                </div>
            </div>
            <div class="row">
                <div class="col" ng-click="playAudio('audio2')" ion-ripple>
                    <p>Si es beneficiario de Bonos del Programa Mundial de Alimentos - PMA, Nutrifami analiza sus compras y le brinda consejos para la diversidad de su dieta y una alimentación balanceada y nutritiva.</p>
                    <i class="icon {{ICON_AUDIO}}" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="mis-compras-intro-button bar bar-footer">
        <button ui-sref="nf.shopping_home" ion-ripple>VER MIS COMPRAS</button>
    </div>
</ion-view>
