<ion-view>
    <ion-content overflow-scroll="true" class="auth auth-login auth-registro2">
        <div>
            <div class="container">
                <!--<button ng-click="playAudio('audiologin')" class="login-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>-->
                <div class="row logo center-block">
                    <div class="col col-100">
                        <img src="img/logo-nutrifami.png" alt="Nutrifami" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>Crear registro, llena los campos ya estas apunto de disfrutar Nutrifami!</h2>
                    </div>
                </div>
                <form name="form" ng-submit="login()" role="form">
                    <div class="row">
                        <div class="col col-100">
                            <label class="item item-input">
                                <input type="text" placeholder="Nombre y apellido">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-100">
                            <label class="item item-input">
                                <input type="password" placeholder="Número de documento">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="item item-input" for="pais">
                                <select name="pais" id="pais" class="form-control" ng-disabled="!paises" ng-model="usuarioActivo.pais_id" ng-options="pais.id as pais.name for pais in paises track by pais.sortname" ng-change="updateDropDownDepartamentos(usuarioActivo.pais_id)">
                                    <option disabled value="">Seleccione su país</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="item item-input" for="departamento">
                                <select name="departamento" id="departamento" class="form-control" ng-disabled="!usuarioActivo.pais_id" ng-model="usuarioActivo.departamento_id" ng-options="departamento.id as departamento.name for departamento in departamentos_filter track by departamento.name" ng-change="updateDropDownCiudades(usuarioActivo.departamento_id)">
                                    <option disabled value="">Seleccione su departamento</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="item item-input" for="municipio">
                                <select name="municipio" id="municipio" class="form-control" ng-disabled="!usuarioActivo.departamento_id" ng-model="usuarioActivo.municipio_id" ng-options="ciudad.id as ciudad.name for ciudad in ciudades_filter track by ciudad.name">
                                    <option disabled value="">Seleccione su ciudad o municipio</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                <input type="radio" id="test3" name="radio-group">
                                <label for="test3"><a href="">Acepto los terminos y condiciones, políticas de privacidad</a></label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-100">
                            <button class="btn btn-default center-block" ng-click="abrir('registro')">ENVIAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>