<div class="intro">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="container">
                <button ng-click="playAudio('audio1')" class="intro-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                <div class="slide-body">
                    <h1>¡Bienvenido/a {{usuarioActivo.nombre}}!</h1>
                    <p>Nutrifami es una herramienta para transmitir conocimientos sobre nutrición y alimentación</p>
                    <img src="img/intro-01.png" style="margin-left: 45px;" />
                    <h1>Alimentación Saludable</h1>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="container">
                <button ng-click="playAudio('audio2')" class="intro-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                <div class="slide-body">
                    <h2>5 módulos para aprender jugando. <br> Lea, escuche y seleccione las respuestas correctas</h2>
                    <img src="img/intro-02.png" />
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="container">
                <button ng-click="playAudio('audio3')" class="intro-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                <div class="slide-body">
                    <h2>Si es beneficiario PMA, Nutrifami analiza sus compras y le brinda consejos para la diversidad de su dieta.</h2>
                    <img src="img/intro-03.png" />
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="container">
                <button ng-click="playAudio('audio4')" class="intro-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                <div class="slide-body">
                    <h2>Aprenda jugando sobre nutrición,<br> alimentación y hábitos saludables</h2>
                    <img src="img/intro-02.png" />
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-default" class="comenzar" ng-click="comenzar()" ion-ripple>Comenzar</button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</div>
