<ion-view>
    <ion-content>
        <div class='mis-compras-intro'>
            <div class="row">
                <div class="col titulo" ng-click="playAudio('audio1')" ion-ripple>
                    <h1>Mis Compras</h1>
                    <i class="icon ion-volume-high" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="descripcion">En esta sección encontrarás el listado de los alimentos que has redimido con el bono que te entregó el PMA.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Nutrifami analiza tus compras y te brinda consejos sobre cómo hacerlas más eficientes para alcanzar una alimentación balanceada. </p>
                    <p>Recuerda que esta información es sólo de los productos que adquieres con el bono. Si tienes acceso a otros alimentos puedes contárnoslo en la sección de comentarios.</p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="mis-compras-intro-button bar bar-footer">
        <button ng-click="goTo()" ion-ripple>VER MIS COMPRAS</button>
    </div>
</ion-view>
