<div class='sobre'>
    <ion-scroll style="height: 100%;">
        <header>
            <div class="sobre-cerrar">
                <div class="row">
                    <div class="col">
                        <a nav-direction="back" href="#/app/capacitacion"><i class="icon ion-close-round"></i></a>
                        <p>Sobre Nutrifami</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="sobre-body">
            <div class="row">
                <div class="col nf-logo">
                    <img src="img/logo-nutrifami-verde.png" alt="Logo Nutrifami" />
                    <p>Versión 1.0</p>
                </div>
            </div>
            <div class="row">
                <div class="col descripcion">
                    <p>Nutrifami es una herramienta para transmitir conocimientos en nutrición, alimentación, para mejorar los hábitos alimentarios de las familias colombianas.</p>
                    <p>Con Nutifami contribuimos al Objetivo de Desarrollo Sostenible: Hambre Cero! </p>
                </div>
            </div>
            <div class="row">
                <div class="col wfp-ia-logo">
                    <img src="img/WFP_IA_Logo.png" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col copyright">
                    <p>&copy; 2016 Nutrifami</p>
                </div>
            </div>
        </div>
    </ion-scroll>
</div>
