<div class="column-{{column}}" ng-click="click(index1)" ng-class="[data.selected ? 'selected' : '', data.match ? 'match':'', data.fallo ? 'wrong':'', data.media.nombre != '' ? 'option-pair-image':'option-pair', columnAImage.nombre == '' ? '' : 'option-pair-big']" ion-ripple>
  <div class="img-container">
    <img ng-src="{{assetpath}}{{data.media.nombre}}" ng-hide="{{data.media.nombre ==''}}" />
  </div>
  <div class="text" ng-class="data.media === undefined ? 'titulo-con-imagen':''" ng-bind-html="data.texto | format | trust" ng-if="data.texto !== ''"></div>
  <div ng-if="data.media.nombre != ''" class="layer" ng-class="[data.selected ? 'selected' : '', data.fallo ? 'wrong':'']"></div>
</div>