.option-info {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #2f3e47;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.option-info .audio {
    margin-right: 10px;
}