/* PERFIL Y EDITAR PERFIL */

.perfil-panel {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.perfil-panel .perfil-header {
    text-align: center;
    position: relative;
    margin-top: 5px;
}

.perfil-panel .perfil-header h1,
.agregar-familiar .popup-header h1 {
    font-family: 'Muli', sans-serif;
    color: #2f3e47;
    text-align: center;
    font-size: 17pt;
    margin-top: 10px;
}

.perfil-panel .boton-flotante {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

.perfil-panel.editar-perfil {
    margin-top: 0px;
}



.perfil-panel .boton-flotante button,
.perfil-panel .boton-flotante button:hover {
    height: 38px;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #dcdcdc;
    border-radius: 7px;
    padding: 8px 14px;
    font-weight: normal;
}

.perfil-panel .boton-flotante .ion-ios-information {
    color: red;
    position: absolute;
    right: 4px;
    top: 0px;
    font-size: 17px;
}


.perfil-panel .boton-flotante button .icon {
    color: #00c97e;
}

.perfil-panel .perfil-body .form-group {
    margin-bottom: 0;
}

.perfil-panel .perfil-header h2{
    font-size: 10pt;
    font-family: 'Raleway-Bold', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0px;
    padding-top: 0px;
}

.perfil-panel .perfil-header h3,
.agregar-familiar .popup-header h3 {
    font-size: 7pt;
    font-family: 'Raleway-Bold', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    border-top: 2px solid #dcdcdc;
    margin-top: 20px;
    padding-top: 10px;
}

.agregar-familiar .popup-body {
    margin: 0px;
    padding: 10px 0px;
}

.perfil-body .form-group p,
.perfil-body .form-group .sin-registro,
.agregar-familiar .form-group p,
.agregar-familiar .form-group .sin-registro {
    font-size: 10pt;
    padding: 0px 5px;
}

.perfil-body .form-group .form-control,
.agregar-familiar .form-group .form-control {
    height: 38px !important;
    border: 1px solid #dcdcdc;
    border-radius: 18px;
    font-size: 10pt;
    width: 100%;
    padding-left: 15px;
}

.perfil-body .form-group .sin-registro,
.agregar-familiar .form-group .sin-registro {
    color: #c2c5c7;
}

.perfil-body .form-group select.form-control:not([multiple]),
.agregar-familiar .form-group select.form-control:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/icons/ico-selector.png');
    padding: 6px 22px;
}

.perfil-body .form-group label,
.agregar-familiar .form-group label {
    padding-left: 5px;
    font-size: 7pt;
    font-family: 'Raleway-Bold', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.perfil-body .help-block,
.perfil-body form .message,
.agregar-familiar .form-group .error,
.agregar-familiar form .message {
    text-align: center;
    color: #d200ff;
    margin-top: 5px;
    font-size: 9pt;
}

.auth-login .help-block {
    
}

::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/icons/ico-datepicker.png');
    padding: 6px 22px;
}

.perfil-body .btn-default,
.agregar-familiar .popup .btn-default {
    text-transform: uppercase;
    text-shadow: none;
    color: white;
    background-color: #fc4cab;
    background-image: none;
    border-radius: 23px;
    border: none;
    height: 50px;
    padding: 17px 57px;
    font-size: 12pt;
    margin-bottom: 10px;
    width: 100%;
    letter-spacing: 3px;
    font-family: 'Raleway-Bold';
}

.agregar-familiar .popup .btn-default[disabled],
.perfil-body .btn-default[disabled]{
    -webkit-filter: opacity(50%);
    -moz-filter: opacity(50%);
    filter: opacity(50%);
}

.agregar-familiar .popup .popup-buttons {
    margin: 0px;
}

.agregar-familiar .popup .cancelar,
.editar-perfil .cancelar {
    background-color: #ffffff;
    letter-spacing: 3px;
    color: #fc4cab;
    text-transform: uppercase;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    font-size: 10pt;
}

.editar-perfil .botones {
    text-align: center;
}

.confirmacion .popup {
    /*min-height: 150px;*/
}

.perfil-body .form-group .form-control[disabled],
.perfil-body .form-group.form-control[readonly],
.perfil-body .form-group fieldset[disabled] .form-control {
    background-color: #f5f5f5;
}

.perfil-body .miembros-header div {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.perfil-body .miembros-body {
    text-align: center;
}

.perfil-body .miembros-body .row {
    padding: 10px 0;
}

.perfil-body .panel-group .panel {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #dcdcdc;
    padding: 25px 0px;
    font-size: 12pt;
}

.perfil-body .panel-group .panel-first {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    border: none;
}

.perfil-body .panel-default>.panel-heading+.panel-collapse .perfil-body {
    border-top-color: #ffffff;
    margin-top: 15px;
}

.perfil-body .panel-default>.panel-heading {
    background-image: none;
    background-color: #ffffff;
    text-align: center;
}

.perfil-body .panel-first>.panel-heading {
    padding: 0;
}

.perfil-body .panel-group .panel .editar-miembro a {
    color: #fc4cab;
    text-decoration: underline;
}





/* END PERFIL Y EDITAR PERFIL */