<ion-view>
    <ion-content class='recetas'>
        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshRecetas()"></ion-refresher>
        <div class="row recetas-header">
            <div class="col" ng-click="playAudio('audio1')" ion-ripple>
                <h1><!--<i class="icon ion-volume-high" aria-hidden="true"></i>-->Recetas Saludables</h1>
            </div>
        </div>
        <div class="row busqueda">
            <div class="col">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Buscar recetas" ng-model="search.text" ng-click="irABuscar()">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                </label>
            </div>
        </div>
        <div class="row recetas-header">
            <div class="col" ng-click="playAudio('audio2')" ion-ripple>
                <h1><!--<i class="icon ion-volume-high" aria-hidden="true"></i>-->Recetas Destacadas</h1>
            </div>
        </div>
        <div class="row" ng-repeat="receta in recetas | reverse">
            <div class="col">
                <div class="receta">
                    <img ng-src="{{receta.imagen != null ? receta.imagen : 'img/recetas/receta-no-imagen.png'}}" ng-click="abrirReceta(receta.id)">
                    <!--<div class="sonido" ng-click="playAudio('audio2')" ion-ripple><i class="icon ion-volume-high" aria-hidden="true"></i></div>-->
                    <p ng-click="abrirReceta(receta.id)">{{receta.nombre}}</p>
                    <div class="buttons">
                        <div ion-ripple ng-click="meGusta(receta.id)"><i ng-class="receta.me_gusta == true ? 'icon ion-android-favorite' : 'icon ion-android-favorite-outline'" aria-hidden="true"></i><span class="numero">{{receta.me_gustas}}</span></div>
                        <div ion-ripple ng-click="compartirReceta(receta)"><i class="icon ion-android-share" aria-hidden="true"></i><span class="numero">{{receta.compartidos}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>