<ion-view>
    <ion-content class='recetas'>
        <div class="row recetas-header">
            <div class="col" ng-click="playAudio('audio1')" ion-ripple>
                <h1><i class="icon ion-volume-high" aria-hidden="true"></i>Recetas Saludables</h1>
            </div>
        </div>
        <div class="row busqueda">
            <div class="col">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Buscar recetas">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                </label>
            </div>
        </div>
        <div class="row recetas-header">
            <div class="col" ng-click="playAudio('audio2')" ion-ripple>
                <h1><i class="icon ion-volume-high" aria-hidden="true"></i>Recetas Destacadas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="receta" ng-click="abrirReceta(1)">
                    <img src="img/recetas/img-receta.png">
                    <div class="sonido" ng-click="playAudio('audio2')" ion-ripple><i class="icon ion-volume-high" aria-hidden="true"></i></div>
                    <p>Pescado en salsa de coco y pipilongo sobre cama de ñapím y enslada.</p>
                    <div class="buttons">
                        <div ion-ripple><i class="icon ion-android-favorite-outline" aria-hidden="true"></i><span class="numero">10</span></div>
                        <div ion-ripple><i class="icon ion-android-share" aria-hidden="true"></i><span class="numero">234</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="receta" ng-click="abrirReceta(1)">
                    <img src="img/recetas/img-receta.png">
                    <div class="sonido" ng-click="playAudio('audio2')" ion-ripple><i class="icon ion-volume-high" aria-hidden="true"></i></div>
                    <p>Pescado en salsa de coco y pipilongo sobre cama de ñapím y enslada.</p>
                    <div class="buttons">
                        <div ion-ripple><i class="icon ion-android-favorite-outline" aria-hidden="true"></i><span class="numero">10</span></div>
                        <div ion-ripple><i class="icon ion-android-share" aria-hidden="true"></i><span class="numero">234</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="receta" ng-click="abrirReceta(1)">
                    <img src="img/recetas/img-receta.png">
                    <div class="sonido" ng-click="playAudio('audio2')" ion-ripple><i class="icon ion-volume-high" aria-hidden="true"></i></div>
                    <p>Pescado en salsa de coco y pipilongo sobre cama de ñapím y enslada.</p>
                    <div class="buttons">
                        <div ion-ripple><i class="icon ion-android-favorite-outline" aria-hidden="true"></i><span class="numero">10</span></div>
                        <div ion-ripple><i class="icon ion-android-share" aria-hidden="true"></i><span class="numero">234</span></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>