<header class="unit-header">
  <div class="exit">
    <button ng-click="exitUnit()" class="icon ion-close-round" aria-hidden="true" ion-ripple></button>
  </div>
  <div class="progress-container">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{data}}%;"></div>
    </div>
  </div>
  <div class="sound">
    <button ng-click="changeAudio()" aria-hidden="true" ion-ripple><i class="icon" ng-class="$root.reproduceAudios ?  $root.ICON_AUDIO : $root.ICON_AUDIO_OFF"></i></button>
  </div>
</header>