<ion-view>
    <ion-content>
        <div class='app-body'>
            <div class="container">
                <div class="modulos">
                    <div class="row">
                        <a class="modulo-link" href="modulo.html">
                            <div class="modulo">
                                <img src="../app/img/modulos/01-alimentacion-saludable/01-alimentacion-saludable.png" alt="Alimentación Saludable">
                                <div class="caption">
                                    <h3> Alimentación <br> Saludable</h3>  
                                    <h4>2 / 6</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
