<ng-include src="'views/template/sidebarleft.tpl.html'"></ng-include>
<div class="app" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <!--<div class="navbar navbar-app navbar-absolute-bottom"><h4>FOOTER</h4></div>-->

    <!-- App body -->
    <div class='app-body'>
        <div class="container">
            <div class="modulos">
                <div class="row">
                    <swiper>
                        <slides>
                            <slide ng-repeat="modulo in modulos">
                                <modulo-info info="modulo" avance="avanceUsuario"></modulo-info>
                            </slide>
                        </slides>
                        <pagination></pagination>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</div><!-- ~ .app -->