<div class='compras-grupo'>
    <ion-scroll style="height: 100%;">
        <header class="grupo-{{grupo.grupo_id}}">
            <div class="titulo">
                <div class="row">
                    <div class="col">
                        <a nav-direction="back" href="#/app/compras" ng-click="stopAudio()"><i class="icon ion-close-round"></i></a>
                        <h1>{{grupo.nombre}}</h1>
                    </div>
                </div>
            </div>
            <div class="sub-header">
                <div class="row">
                    <div class="col total-compra">
                        <p style="font-size: 12pt;">Total Compra</p>
                        <p class="valor">${{grupo.totalCompra}}</p>
                    </div>
                    <div class="col">
                        <div class="progress-radial progress-{{grupo.porcentaje_visual}}">
                            <div class="overlay grupo-{{grupo.grupo_id}}"><img src="img/icons/ico-compras-{{grupo.grupo_id}}.png" /> </div>
                        </div>
                    </div>
                    <div class="col estado">
                        <img src="img/icons/ico-compras-{{grupo.carita}}.png" />
                    </div>
                </div>
            </div>
        </header>
        <div class="compras-grupo-descripcion">
            <div class="row">
                <div class="col">
                    <p ng-click="playAudio('resumenCompras')" ng-hide="noHayDatos" ion-ripple>
                        <i class="icon ion-volume-high"></i> Este es el resumen de sus compras en {{grupo.nombre}}
                    </p>
                </div>
            </div>
        </div>
        <div class="compras-resumen">
            <div ng-repeat="compra in grupo.compra" class="row">
                <div class="col col-75 nombre-producto">{{compra.nombre}}</div>
                <div class="col precio">$ {{compra.total}}</div>
            </div>
            <div class="totales">
                <div class="row">
                    <div class="col col-75">Total</div>
                    <div class="col precio">$ {{ grupo.totalCompra}}</div>
                </div>
            </div>
        </div>
        <!--<div class="compra-ideal">
            <ion-list>
                <div ng-repeat="group in groups">
                    <ion-item class="item-stable" ng-click="toggleGroup(group,'compraIdeal')" ng-class="{active: isGroupShown(group)}">
                        <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                        <img src="img/canasta-ideal.png" alt="Canasta ideal" />
                        <h3>Para una compra ideal <i class="icon ion-volume-high"></i></h3>
                        <h4>podria comprar</h4>
                    </ion-item>
                    <ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
                        {{item.nombre}}
                    </ion-item>
                </div>
            </ion-list>
        </div>-->
    </ion-scroll>
</div>
