<ion-view>
    <ion-content scroll='false'>
        <div class='compras'>
            <ion-tabs class="tabs-icon-top">
                <ion-tab title="Mis compras" on-select="cargarCompras()">
                    <ion-scroll style="height: 100%">
                        <div class="compras-tab">
                            <div class="row">
                                <div class="col">
                                    <div class="compras-descripcion">
                                        <p ng-click='' ng-show="noHayDatos" ion-ripple>
                                            No se encontraron registros para este usuario
                                        </p>
                                        <p ng-click="playAudio('audio1')" ng-hide="noHayDatos" ion-ripple>
                                            <i class="icon ion-volume-high"></i> Aquí encontrará el resumen de sus compras del último mes
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="compras-porcentajes">
                                <div class="row" ng-repeat="grupo in consumoUltimoMes">
                                    <div class="col col-40">
                                        <div class="compras-porcentaje-tipo">
                                            <p>{{ grupo.nombre}}</p>
                                        </div>
                                    </div>
                                    <div class="col col-60 compras-porcentaje-barra">
                                        <div class="progress" go-click="/compras/{{grupo.grupo_id}}" ng-click="stopAudio()">
                                            <div class="progress-bar grupo-{{grupo.grupo_id}}" style="width: {{grupo.porcentaje_compra}}%;"></div>
                                            <div class="cantidad">{{grupo.porcentaje_compra}}<span>%</span></div>
                                            <i class="icon ion-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-tab>
                <ion-tab title="Recomendados" on-select="cargarRecomendados()">
                    <ion-scroll style="height: 100%">
                        <div class="compras-tab">
                            <div class="row">
                                <div class="col">
                                    <div class="recomendados-header" ng-click="playAudio('audio2')" ion-ripple>
                                        <img src="img/canasta-ideal.png" alt="Canasta ideal" />
                                        <p>Aquí encontrará recomendaciones para que su dieta sea más variada</p>
                                        <i class="icon ion-volume-high"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="recomendados-body">
                                <div class="row">
                                    <div class="col">
                                        <ion-list>
                                            <div ng-repeat="group in gruposAlimenticios">
                                                <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="[{active: isGroupShown(group)}, 'grupo-'+group.grupo_id]">
                                                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                                                    <img src="img/icons/ico-compras-{{group.grupo_id}}.png" ng-hide="group.grupo_nombre === null" /> {{group.grupo_nombre !== null ? group.grupo_nombre : 'Sin categoria'}}
                                                </ion-item>
                                                <ion-item class="item-accordion" ng-repeat="item in group.productos" ng-show="isGroupShown(group)">
                                                    {{item.nombre}}
                                                </ion-item>
                                            </div>
                                        </ion-list>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="canasta-body">
                                <div class="panel-group" ui-state="myAccordion" ui-default="1">
                                    <div class="panel panel-default" ng-repeat="recomendado in recomendados">
                                        <div class="panel-heading  grupo-{{recomendado.grupo_nombre}}" ui-set="{'myAccordion': {{$index + 1}}}">        
                                            <h4 class="panel-title">
                                                <img src="img/icons/ico-compras-{{recomendado.grupo_nombre}}.png" alt=""/>
                                                Cereales, raices, tuberculos y platano
                                            </h4>
                                        </div>
                                        <div ui-if="myAccordion == {{$index + 1}}" >
                                            <div class="panel-body" >
                                                <ul>
                                                    <li>Nombre del producto vamus vestibulum purus</li>
                                                    <li>Nombre del producto vamus vestibulum purus</li>
                                                    <li>Nombre del producto vamus vestibulum purus</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </ion-scroll>
                </ion-tab>
            </ion-tabs>
            </div>
    </ion-content>
</ion-view>
