<div class="app">
    <div class='app-body unidad compras scrollable'>
        <div class="scrollable-content">
            <header class="compras-header grupo-{{grupo.alias}}">

                <div class="compras-header-titulo ">
                    <div class="col-xs-2 btn-group">
                        <div class="btn btn-navbar" >
                            <button go-click="/consumo" class="fa fa-times fa-2x" aria-hidden="true"></button>
                        </div>
                    </div>
                    <div class="col-xs-9 ">
                        <h1>{{grupo.nombre}}</h1>
                    </div>
                </div>
                <div class="compras-header-resumen">
                    <div class="container">
                        <div class="row">
                            <div class="left">
                                <h2>{{grupo.porcentaje_compra}}%</h2>
                                <h3>${{grupo.totalCompra}}</h3>
                            </div>
                            <div class="center">
                                <div class="compras-porcentaje">
                                    <div class="c100 p{{grupo.porcentaje_visual}} small ">
                                        <span><img src="img/icons/ico-compras-{{grupo.alias}}.png" alt=""/></span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <img class="center-block" ng-src="{{ grupo.logro ? 'img/icons/ico-compras-feliz.png':'img/icons/ico-compras-triste.png'}}"/>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- App body -->


            <div class="compras-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="compras-descripcion"><button ng-click='resumencompras.paused ? resumencompras.play() : resumencompras.pause()' volume="0.5" class="fa fa-volume-up" aria-hidden="true"></button>Este es  el resumen de sus compras en <span>{{grupo.nombre}}</span></p>
                    </div>
                </div>
                <div class="container">
                    <div class="compras-productos">
                        <div class="row producto" ng-repeat="producto in grupo.compra">
                            <div class="col-xs-9 item">{{producto.nombre}}</div>
                            <div class="col-xs-3 precio">${{producto.total}}</div>
                        </div>
                    </div>


                </div>
                <div class="compra-ideal">
                    <div class="panel-group" ui-state="myAccordion" ng-hide="grupo.logro">
                        <div class="panel panel-default">
                            <div class="panel-heading" ui-set="{'myAccordion': 1}">  
                                <div class="chevron">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <img class="compra-ideal-imagen" src="img/canasta-ideal.png" alt="Canasta ideal"/>
                                    <h2 class="compra-ideal-descripcion"> 
                                        Para una compra ideal<button ng-click='compraIdeal.paused ? compraIdeal.play() : compraIdeal.pause()' class="fa fa-volume-up" aria-hidden="true"></button>
                                    </h2>
                                    <h3>Podrias comprar</h3>
                                </div>


                            </div>
                            <div ui-if="myAccordion == 1" >
                                <div class="panel-body" >
                                    <!--<p>
                                        <button class="fa fa-volume-up" aria-hidden="true"></button><br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque elit sodales augue mollis vestibulum ut eget lacus. Mauris nisl enim, luctus a sem sit amet, tristique molestie lectus. Curabitur dapibus viverra lacus, 
                                    </p>-->
                                    <ul>
                                        <li ng-repeat="producto in listaGrupo">
                                            <div class="col-xs-9 item">{{producto.nombre_corto}}</div>
                                            <div class="col-xs-3 precio">${{producto.precio}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading logro" ng-show="{{grupo.logro}}">
                        <div class="container">
                            <img src="img/icons/ico-compras-muy-bien.png" alt=""/>
                            <h2 class="compra-ideal-descripcion"> 
                                Muy bien! Este mes <br>lo hiciste estupendo!<button ng-click='muyBien.paused ? muyBien.play() : muyBien.pause()' class="fa fa-volume-up" aria-hidden="true"></button>
                            </h2>
                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .app-body -->

</div><!-- ~ .app --> 
