<ng-include src="'views/template/sidebarleft.tpl.html'"></ng-include>
<div class="app">
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <!--<div class="navbar navbar-app navbar-absolute-bottom"><h4>FOOTER</h4></div>-->

    <!-- App body -->
    <div class='app-body scrollable compras' bs-loading-overlay>
        <div class="scrollable-content">

            <div ui-state="activeTab" default="1">
                <div class="compras-header">
                    <ul class="nav nav-tabs nav-justified">
                        <li ui-class="{'active': activeTab == 1}">
                            <a ui-set="{'activeTab': 1}">Mis compras</a>
                        </li>
                        <!--
                        <li ui-class="{'active': activeTab == 2}">
                            <a ui-set="{'activeTab': 2}">Recomendados</a>
                        </li>
                        -->
                    </ul>
                </div>
                <div class="compras-body">
                    <div ui-if="activeTab == 1">
                        <p class="compras-descripcion" ng-show="noHayDatos">
                            No se encontraron registros para este usuario
                        </p>
                        <p class="compras-descripcion" ng-hide="noHayDatos">
                            <button ng-click='audio.paused ? audio.play() : audio.pause()' class="fa fa-volume-up" aria-hidden="true"></button>
                            Aquí encontrará el resumen de sus compras del último mes
                        </p>

                        <div class="compras-porcentajes">
                            <div class="row" ng-repeat="grupo in consumoUltimoMes.grupo">
                                <div class="col-xs-5 compras-porcentaje-tipo">
                                    <p>{{ grupo.nombre}}</p>
                                </div>
                                <div class="col-xs-7 compras-porcentaje-barra">
                                    <div class="progress">
                                        <button go-click="/consumo/{{grupo.alias}}"></button> <!-- Necesario para el efecto ripple -->
                                        <div class="progress-bar grupo-{{grupo.alias}}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{grupo.porcentaje_visual}}%;"></div>
                                        <div class="cantidad">{{grupo.porcentaje_compra}}<span>%</span><i class="fa fa-angle-right" aria-hidden="true"></i></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--
                    <div ui-if="activeTab == 2">
                        <div class="container">
                            <div class="canasta-header">
                                <img class="canasta-imagen" src="img/canasta-ideal.png" alt="Canasta ideal"/>
                                <p class="canasta-descripcion-sonido"><button ng-click='dietaVariada.paused ? dietaVariada.play() : dietaVariada.pause()' class="fa fa-volume-up" aria-hidden="true"></button></p>
                                <p class="canasta-descripcion"> 
                                    Aquí encontrará recomendaciones para que su dieta sea más variada
                                </p>
                            </div>
                            <div class="canasta-body">
                                <div class="panel-group" ui-state="myAccordion" ui-default="1">
                                    <div class="panel panel-default" ng-repeat="recomendado in recomendados">
                                        <div class="panel-heading  grupo-{{recomendado.grupo_nombre}}" ui-set="{'myAccordion': {{$index + 1}}}">        
                                            <h4 class="panel-title">
                                                <img src="img/icons/ico-compras-{{recomendado.grupo_nombre}}.png" alt=""/>
                                                Cereales, raices, tuberculos y platano
                                            </h4>
                                        </div>
                                        <div ui-if="myAccordion == {{$index + 1}}" >
                                            <div class="panel-body" >
                                                <ul>
                                                    <li>Nombre del producto vamus vestibulum purus</li>
                                                    <li>Nombre del producto vamus vestibulum purus</li>
                                                    <li>Nombre del producto vamus vestibulum purus</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div><!-- ~ .app -->
