<ng-include src="'views/template/sidebarleft.tpl.html'"></ng-include>
<div class="app">
    <div class="navbar navbar-app navbar-absolute-top"><a href ui-toggle='uiSidebarLeft'> Menú -> </a> <h1>HEADER</h1></div>
    <!--<div class="navbar navbar-app navbar-absolute-bottom"><h4>FOOTER</h4></div>-->

    <!-- App body -->

    <div class='app-body' style="margin-top: 50px;">
        <div class='app-content' >

            <p>File</p>
            <p>{{url}}</p>
            <p>..{{targetPath}}..</p>
            <p>..{{trustHosts}}..</p>
            <p>..{{downloadProgress}}..</p>
            <p>..{{response}}..</p>
            
            

        </div>
    </div>
</div><!-- ~ .app -->