<ng-include src="'views/template/sidebarleft.tpl.html'"></ng-include>
<div class="app">
    <div class="navbar navbar-app navbar-absolute-top"><a href ui-toggle='uiSidebarLeft'> Menú -> </a></div>
    <!--<div class="navbar navbar-app navbar-absolute-bottom"><h4>FOOTER</h4></div>-->

    <!-- App body -->

    <div class='app-body' style="margin-top: 50px;">
        <div class='app-content' >

            <p>Inicio</p>

            <p>{{mensaje}}</p>

            <p>..{{url}}..</p>

            Fin
        </div>
    </div>
</div><!-- ~ .app -->