<ng-include src="'views/template/sidebarleft.tpl.html'"></ng-include>
<div class="app">
    <div class="navbar navbar-app navbar-absolute-top"><a href ui-toggle='uiSidebarLeft'> Menú -> </a> <h1>HEADER</h1></div>
    <div class="navbar navbar-app navbar-absolute-bottom"><h4>FOOTER</h4></div>

    <!-- App body -->

    <div class='app-body'>
        <div class='app-content'>
            
            <!-- El contenido debe ir acá -->
            {{mensaje}}

        </div>
    </div>
</div><!-- ~ .app -->