<ng-include src="'views/template/sidebarleft.tpl.html'"></ng-include>
<div class="app">
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <!--<div class="navbar navbar-app navbar-absolute-bottom"><h4>FOOTER</h4></div>-->

    <!-- App body -->
    <div class='app-body scrollable lecciones'>
        <div class="container scrollable-content">
            <div class="lecciones-header">
                <div class="row">
                    <h1><button ng-click='modulo.titulo.audio.audio.paused ? modulo.titulo.audio.audio.play() : modulo.titulo.audio.audio.pause()' class="lecciones-titulo-sonido fa fa-volume-up" aria-hidden="true"></button>{{modulo.titulo.texto}}</h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img ng-src="assets/{{modulo.imagen2.nombre}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><button ng-click='modulo.descripcion.audio.audio.paused ? modulo.descripcion.audio.audio.play() : modulo.descripcion.audio.audio.pause()' class="lecciones-descripcion-sonido fa fa-volume-up" aria-hidden="true"></button> {{ modulo.descripcion.texto}}</p>
                    </div>
                </div>
            </div>

            <div class="lecciones-body">
                <div class="row">
                    <ng-repeat ng-repeat="leccion in lecciones">
                        <leccion-info leccion="leccion" modulo="modulo" index="{{$index + 1}}"></leccion-info>
                    </ng-repeat>
                </div>

            </div>
        </div>
    </div>
</div><!-- ~ .app -->
