<ion-view>
    <ion-content>
        <div class='lecciones'>
            <div class="lecciones-header">
                <div class="col">
                    <h1 ng-click="playAudio('audioTitulo')" ion-ripple><i class="lecciones-titulo-sonido icon ion-volume-high" aria-hidden="true"></i> Alimentación Saludable</h1>
                </div>
                <div class="col">
                    <img ng-src="{{TARGETPATH}}{{modulo.imagen2.nombre}}" />
                </div>
                <div class="col">
                    <p ng-click="playAudio('audioDescripcion')" ion-ripple><i class="lecciones-descripcion-sonido icon ion-volume-high" aria-hidden="true"></i> {{ modulo.descripcion.texto}}</p>
                </div>
            </div>
            <div class="lecciones-body">
                <ng-repeat ng-repeat="leccion in lecciones">
                    <leccion-info leccion="leccion" modulo="modulo" index="{{$index}}"></leccion-info>
                </ng-repeat>
            </div>
        </div>
    </ion-content>
</ion-view>
