<ion-scroll style="height: 100%;">
    <h1>Descarga de archivos</h1>
    <div class='app-body' style="margin-top: 50px;">
        <div class='app-content'>
            <h3>{{archivosDescargados}}/{{totalArchivos}} (Arhivos Descargados / Archivos totales)</h3>
            <p>Url: {{url}}</p>
            <p>Destino: {{targetPath}}</p>
            <p>Estado: {{response}}</p>
            <p>Progreso: {{downloadProgress}}%</p>
            <!--<pre>..{{recursos| json}}..</pre>-->
            <img ng-src="{{imagenPrueba}}" alt="Cargando...">
        </div>
    </div>
</ion-scroll>
