<ion-view>
    <ion-content scroll='false'>
        <div class='progreso'>
            <ion-tabs class="tabs-icon-top">
                <ion-tab title="Yo (Alejandro)" on-select="cargarMiProgreso()">
                    <ion-scroll style="height: 100%">
                        <div class="progreso-tab">
                            <div class="progreso-panel">
                                <div class="progreso-puntos-experiencia">
                                    <div class="row" ion-ripple>
                                        <div class="col col-20">
                                            <img width="46" src="../img/badgets/badget-1.png" alt=""/>
                                        </div>
                                        <div class="col">
                                            <p> 250 puntos de Experiencia <button class="icon ion-volume-high"></button></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="progreso-porcentaje">
                                    <div class="row">
                                        <div class="col col-center">
                                            <div class="progress-radial progress-13">
                                                <div class="overlay">13% <span>Aprendido</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progreso-resumen">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../img/icons/ico-progreso-nivel.png" alt=""/>
                                            Nivel<br><span>4</span>
                                        </div>
                                        <div class="col">
                                            <img src="../img/icons/ico-progreso-leccion.png" alt=""/>
                                            Lección<br><span>6</span>
                                        </div>
                                        <div class="col">
                                            <img src="../img/icons/ico-progreso-medallas.png" alt=""/>
                                            Medallas<br><span>25</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-tab>
                <ion-tab title="Mi Familia" on-select="cargarMiFamiliaProgreso()">
                    <ion-scroll style="height: 100%">
                        <div class="progreso-tab">
                            <div class="progreso-panel">
                                <div class="progreso-familia">
                                    <div class="row lider" ion-ripple>
                                        <div class="col miembro-familia">
                                            <p>Juan Perez </p>
                                        </div>
                                        <div class="col col-33 medallas">
                                            <img width="30" src="../img/badgets/badget-1.png" alt=""/>
                                            25<br><span>Medallas</span>
                                        </div>
                                        <button class="icon ion-volume-high sonido"></button>
                                    </div>
                                </div>
                                <div class="progreso-familia">
                                    <div class="row" ion-ripple>
                                        <div class="col miembro-familia">
                                            <p>Juan Perez </p>
                                        </div>
                                        <div class="col col-33 medallas">
                                            <img width="30" src="../img/badgets/badget-1.png" alt=""/>
                                            25<br><span>Medallas</span>
                                        </div>
                                        <button class="icon ion-volume-high sonido"></button>
                                    </div>
                                </div>
                                <div class="progreso-familia">
                                    <div class="row" ion-ripple>
                                        <div class="col miembro-familia">
                                            <p>Juan Perez </p>
                                        </div>
                                        <div class="col col-33 medallas">
                                            <img width="30" src="../img/badgets/badget-1.png" alt=""/>
                                            25<br><span>Medallas</span>
                                        </div>
                                        <button class="icon ion-volume-high sonido"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-tab>
            </ion-tabs>
        </div>
    </ion-content>
</ion-view>
