
<div class="container">
        <calificar-unidad data="botonCalificar"></calificar-unidad>
    </div>
</div>
<div class='unidad'>
    <ng-include src="'views/template/leccionAvance.tpl.html'"></ng-include>


    <!-- App body -->
    <div>
        <div class="unidad-tipo">
            <img ng-src="img/icons/{{unidad.tipo.icono}}"/>
            <div class="unidad-tipo-descripcion" ng-click="playAudio('tipo')" ion-ripple>
                <div class="sonido">
                    <button class="icon ion-volume-high" aria-hidden="true"></button>
                </div>
                <p> {{ unidad.tipo.nombre}}</p>
            </div>
        </div>
        <div class="unidad-descripcion">
            <div class="row">
                <div class="col">
                    <p class="unidad-instruccion" ng-click="playAudio('titulo')" ion-ripple>
                        <button class="icon ion-volume-high" aria-hidden="true"></button> {{ unidad.titulo.texto}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img ng-src="assets/{{unidad.imagen.nombre}}" ng-hide="{{unidad.imagen === undefined|| unidad.imagen.nombre === ''}}"/>
                </div>
            </div>

        </div>
        <div class="opciones" ng-hide="unidad.tipo.id == 2">
            <opcion-unidad-info ng-repeat="opcion in unidad.opciones" info="opcion" index="{{$index}}" colspan="unidad.colspan" ng-click="validar()"></opcion-unidad-info>
        </div>
        <div class="opciones"  ng-show="unidad.tipo.id == '2'">
            <opcion-pareja-unidad-info ng-repeat="opcion in unidad.opciones" info="opcion" index="{{$index}}"></opcion-pareja-unidad-info>
        </div>



    </div>
</div>
</div>


<div class="bar bar-footer calificar habilitado">
    <p ion-ripple>Calificar</p>
</div>
<div class="mostrar-tip">
    <div ion-ripple ng-click="showConfirm()">
        <span class="icon ion-plus-round" aria-hidden="true"></span>
    </div>
</div>