<ng-include src="'views/template/sidebarleft.tpl.html'"></ng-include>
<div class="app">
    <!-- App body -->
    <div class='app-body unidad scrollable' bs-loading-overlay>
        <div class="scrollable-content">
            <ng-include src="'views/template/leccionAvance.tpl.html'"></ng-include>
            <div class="container">
                <div class="unidad-tipo">

                    <div class="row">
                        <div class="col-xs-12">
                            <img ng-src="img/icons/{{unidad.tipo.icono}}"/>
                            <span>{{ unidad.tipo.nombre}}</span>
                            <div class="sonido">
                                <a href><span ng-click='unidad.tipo.audio.audio.paused ? unidad.tipo.audio.audio.play() : unidad.tipo.audio.audio.pause()' class="fa fa-volume-up" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="unidad-descripcion">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="unidad-instruccion"><a href><span ng-click='unidad.instruccion.audio.audio.paused ? unidad.instruccion.audio.audio.play() : unidad.instruccion.audio.audio.pause()' class="fa fa-volume-up" aria-hidden="true"></span></a>{{ unidad.instruccion.texto }}</p>
                            <p class="unidad-texto"><a href><span ng-click='unidad.titulo.audio.audio.paused ? unidad.titulo.audio.audio.play() : unidad.titulo.audio.audio.pause()' class="fa fa-volume-up" aria-hidden="true"></span></a>{{ unidad.titulo.texto}}</p>
                            <img class="unidad-imagen"ng-src="assets/{{unidad.imagen.nombre}}" ng-hide="{{unidad.imagen === undefined}}"/>
                        </div>
                    </div>
                </div>
                <div class="opciones">
                    <div class="row" ng-hide="unidad.tipo.id == 2">
                        <opcion-unidad-info ng-repeat="opcion in unidad.opciones" info="opcion" index="{{$index}}" colspan="unidad.colspan" ng-click="validar()"></opcion-unidad-info>
                    </div>

                    <div class="row unidad-parejas" ng-show="unidad.tipo.id == '2'">
                        <opcion-pareja-unidad-info ng-repeat="opcion in unidad.opciones" info="opcion" index="{{$index}}"></opcion-pareja-unidad-info>
                    </div>

                    <calificar-unidad data="botonCalificar"></calificar-unidad>
                </div>
            </div>
        </div>
    </div> <!-- .app-body -->
</div><!-- ~ .app -->

<div ui-content-for="modals">
    <ng-include src="'views/template/feedback.tpl.html'"></ng-include>
</div>