<ion-view>
    <ion-content overflow-scroll="true" class="auth auth-login">
        <div class="container">
            <!--<button ng-click="playAudio('audiologin')" class="login-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>-->
            <div class="row logo center-block">
                <div class="col col-100">
                    <img src="img/logo-nutrifami.png" alt="Nutrifami" />
                </div>
            </div>
            <div>
                <div class="col col-80 col-offset-10">
                    <h2>¡Aprenda Jugando sobre nutrición, alimentación y hábitos saludables!</h2>
                </div>
            </div>
            <form name="form" ng-submit="login()" role="form">
                <div class="help-block"><span ng-show="error">{{error}}</span></div>
                <div class="row">
                    <div class="col col-100">
                        <label class="item item-input">
                            <input type="text" placeholder="Ingrese documento o usuario" autocomplete="off" ng-model="formLogin.username" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <label class="item item-input">
                            <input type="password" placeholder="Escriba su contraseña" autocomplete="off" ng-model="formLogin.password" required>
                        </label>
                    </div>
                </div>
                <p>Si en ningún momento ha cambiado su contraseña, la contraseña por defecto es abc12345</p>
                <div class="row">
                    <div class="col col-100">
                        <button type="submit" class="btn btn-default center-block" ng-disabled="form.$invalid">INGRESAR</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <a href ng-click="olvidoContrasena()">¿Ha olvidado la contraseña?</a>
                    </div>
                </div>
            </form>
            <div class="row registro">
                <div class="col col-100">
                    <p>¿No tienes cuenta?</p>
                    <button class="btn btn-default center-block" ui-sref="auth_signup" ion-ripple>CREAR CUENTA</button>
                </div>
            </div>
            <div class="row logo-wfp center-block">
                <div class="col col-100 ">
                    <img src="img/logo-wfp.png " alt="Logo Programa Mundial de Alimentos - Naciones Unidas " />
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>


