
<div class="auth">
    <div class="container">
        <!--<button ng-click="playAudio('audiologin')" class="login-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>-->
        <div class="row logo center-block">
            <div class="col col-100">
                <img src="img/logo-nutrifami.png" alt="Nutrifami" />
            </div>
        </div>
        <div>
            <div class="col col-80 col-offset-10">
                <h2>¡Aprenda Jugando sobre nutrición, alimentación y hábitos saludables!</h2>
            </div>
        </div>
        <div class="row ingresar">
            <div class="col col-100">
                <button class="btn btn-default center-block" ng-click="abrir('login')" ion-ripple>INGRESAR</button>
            </div>
        </div>
        <div class="row registro">
            <div class="col col-100">
                <p>¿No tienes cuenta?</p>
                <button class="btn btn-default center-block" ng-click="abrir('registro')" ion-ripple>CREAR CUENTA</button>
            </div>
        </div>
        <div class="row logo-wfp center-block">
            <div class="col col-100 ">
                <img src="img/logo-wfp.png " alt="Logo Programa Mundial de Alimentos - Naciones Unidas " />
            </div>
        </div>
    </div>
</div>



