<ion-content>
  <div class='unit' id='unit'>
    <unit-header on-exit-unit="exitUnit()" data="advancePercentage" on-change-audio="changeAudio()"></unit-header>
    <unit-question data="unidad" assetpath="assetpath" on-play-audio-title="playAudio('title')" on-play-audio-type="playAudio('type')"></unit-question>
    <unit-option-info ng-show="unidad.tipo.id == 1" data="unidad" on-click="playAudio('texto')"></unit-option-info>
    <div class="options" ng-if="unidad.tipo.id == 2">
      <div ng-repeat="opcion in unidad.opciones.columnA">
        <unit-option-pairs data="opcion" assetpath="assetpath" column="'A'" column-a-image="opcion.media" on-click="chociePair($index, 'columnA', 'columnB')" on-play-audio="playAudio('opcion'+opcion.id)"></unit-option-pairs>
        <unit-option-pairs data="unidad.opciones.columnB[$index]" assetpath="assetpath" column="'B'" column-a-image="opcion.media" on-click="chociePair($index, 'columnB', 'columnA')" on-play-audio="playAudio('opcion'+unidad.opciones.columnB[$index].id)"></unit-option-pairs>
      </div>
    </div>
    <div class="options" ng-if="unidad.tipo.id == 3 || unidad.tipo.id == 4 || unidad.tipo.id == 5" ng-class=" scrolled ? 'scrolled':''">
        <unit-option-simple ng-repeat="option in unidad.opciones" data="option" assetpath="assetpath" on-click="choiceOption($index)" on-play-audio="playAudio('opcion'+option.id)"></unit-option-simple>
    </div>
  </div>
  <div class="zona-segura" ng-if="unidad.tipo.id != 2"></div>

</ion-content>
<div class="bar bar-footer calificar" ng-class=" botonCalificar ? 'habilitado' : ''" ng-if="unidad.tipo.id != 2">
  <button ng-click="calificarUnidad()" ng-disabled="!botonCalificar" ion-ripple>{{textoBoton | translate}}</button>
</div>
<div class="scroll-help" ng-class="isScroll ? 'active':''">
  <img src="img/scroll-icon.png" width="100px">
</div>