<ion-content>
  <div class='unit'>
    <unit-header on-exit-unit="exitUnit()" data="advancePercentage" on-change-audio="changeAudio()"></unit-header>
    <unit-question data="unidad" assetpath="assetpath" on-play-audio-title="playAudio('title')" on-play-audio-type="playAudio('type')"></unit-question>
    <div class="row" ng-show="unidad.tipo.id == 1">
      <div class="col">
        <div class="unidad-informativa">
          <div class="opcion-sonido" ng-click='playAudio("texto")' ng-show="audiosDescargados" ion-ripple>
            <button class="icon {{ICON_AUDIO}}"></button>
          </div>
          <div ng-bind-html="unidad.texto | format | trust"></div>
        </div>
      </div>
    </div>
    <div class="options" ng-repeat="opcion in unidad.opciones.columnA" ng-if="unidad.tipo.id == 2">
      <unit-option-pairs data="opcion" assetpath="assetpath" column="'A'" column-a-image="opcion.media" on-click="chociePair($index, 'columnA', 'columnB')" on-play-audio="playAudio('opcion'+opcion.id)"></unit-option-pairs>
      <unit-option-pairs data="unidad.opciones.columnB[$index]" assetpath="assetpath" column="'B'" column-a-image="opcion.media" on-click="chociePair($index, 'columnB', 'columnA')" on-play-audio="playAudio('opcion'+unidad.opciones.columnB[$index].id)"></unit-option-pairs>
    </div>
    <div class="options" ng-if="unidad.tipo.id == 3 || unidad.tipo.id == 4 || unidad.tipo.id == 5" ng-class=" scrolled ? 'scrolled':''">
        <unit-option-simple ng-repeat="option in unidad.opciones" data="option" assetpath="assetpath" on-click="choiceOption($index)" on-play-audio="playAudio('opcion'+option.id)"></unit-option-simple>
    </div>
  </div>
  <div class="zona-segura"></div>
</ion-content>
<div class="bar bar-footer calificar" ng-class=" botonCalificar ? 'habilitado' : ''">
  <button ng-click="calificarUnidad()" ng-disabled="!botonCalificar" ion-ripple>{{textoBoton | translate}}</button>
</div>