<div class="menu-right">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <a class="item" nav-direction="forward" ui-sref="nf.auth_profile" ng-click="closePopover()">
                    Ver Perfil
                </a>
                <a class="item" nav-direction="forward" ui-sref="auth" ng-click="closePopover()">
                    Cerrar Sesión
                </a>
                <a class="item" nav-direction="forward" ui-sref="about" ng-click="closePopover()">
                    Sobre Nutrifami
                </a>
                
            </div>
        </ion-content>
    </ion-popover-view>
</div>