@font-face {
    font-family: Muli;
    src: url(../fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(../fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-Italic;
    src: url(../fonts/Muli-Italic.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/raleway/Raleway-Bold.ttf);
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #f5f5f5;
}

.pane,
.view {
    background-color: #f5f5f5;
}

ng-view {
    height: 100%;
}

.title.title-left.header-item {
    text-align: center !important;
}





/* LAZY LOADING IMAGENES*/

.image-loader-container {
    margin: 9px;
    max-width: 81px;
    max-height: 81px;
    width: 100%;
    height: 100%;
    top: calc(110px - 50px);
    /*Ajustar estaas lineas para cada una de las imagenes*/
    left: calc(50% - 50px);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

@keyframes swipe-animation {
    0% {
        left: calc(50% - 150px);
        visibility: visible;
    }
    10% {
        left: calc(50% - 100px);
    }
    30% {
        left: calc(50% - 200px);
    }
    50% {
        left: calc(50% - 100px);
    }
    70% {
        left: calc(50% - 200px);
    }
    90% {
        left: calc(50% - 100px);
    }
    100% {
        left: calc(50% - 150px);
        visibility: hidden;
    }
}

.swipe-ayuda {
    position: fixed;
    top: calc(70% - 150px);
    left: calc(50% - 150px);
    animation-name: swipe-animation;
    animation-duration: 4s;
    animation-delay: 1s;
    visibility: hidden;
}





/* RIPPLE EFFECT */

button {
    position: relative;
    outline: none;
    overflow: hidden;
}

.ion-ripple {
    background-color: #000000 !important;
}

.ion-ripple_animate {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important
}


/* END RIPPLE EFFECT*/


/* FINAL - PRELOADING*/


/* HEADER */

.app {
    background-color: #f5f5f5;
}

.has-header {
    top: 64px;
}

.bar.bar-stable {
    height: 64px;
    background-color: #00c97e;
    color: #ffffff;
    padding-top: 12px;
}

.bar-stable .button {
    color: #ffffff;
}

.bar-stable .button.button-clear {
    color: #ffffff;
    padding: 0;
    padding-right: 5px;
    margin-left: 12px;
}

.bar-stable .title {
    margin-top: 19px;
}

.bar-stable .ion-ios-information,
.menu-left .ion-ios-information {
    color: red;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* END -  HEADER*/

/*MODAL FEEDBACK*/

.popup-container .popup {
    width: 95%;
    /*min-height: 450px;*/
    background-color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: 'Muli', sans-serif;
    color: #2f3e47;
    text-align: center;
}

.popup-container .popup .popup-head {
    padding: 0;
    border: none;
}

.popup-container .popup .calificacion .popup-header,
.salir-unidad .popup .popup-header {
    text-align: center;
    margin-top: 30px;
}

.popup-container .popup .calificacion .popup-header .icon,
.salir-unidad .popup .popup-header .icon {
    display: inline-block;
    color: #ffffff;
    font-size: 30pt;
    height: 86px;
    width: 86px;
    background-color: #09df78;
    border-radius: 43px;
    text-align: center;
    padding-top: 27px;
}

.salir-unidad .popup .popup-header .icon {
    background-color: #ffba23;
}

.popup-container .popup .calificacion .popup-header .wrong {
    background-color: #ff1244;
}

.popup-container .popup .calificacion .mensaje,
.salir-unidad .popup .mensaje {
    text-align: center;
    color: #2f3e47;
    font-size: 12pt;
    margin-top: 20px;
    margin-bottom: 37px;
}

.salir-unidad .popup .mensaje {
    font-size: 16pt;
    padding: 0 15px;
}

.popup-container .popup .calificacion .mensaje i {
    color: #8e8e8e;
}

.salir-unidad .popup .mensaje i {
    color: #00c97e;
}

.salir-unidad .popup .popup-body .button {
    height: 57px;
    background-color: #00c97e;
    font-family: 'Raleway-Bold', sans-serif;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    line-height: 26px;
    width: 100%;
    margin-top: 20px;
}

.popup-container .popup .calificacion .feedback {
    border: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background-color: #f5f5f5;
    font-family: 'Muli', sans-serif;
    text-align: center;
    color: #2f3e47;
    padding: 15px 10px;
}

.popup-container .popup .calificacion .feedback div {
    padding: 0px 10px;
}

.popup-container .popup .calificacion .feedback p {
    font-size: 14pt;
    padding-top: 10px;
}

.popup-container .popup .calificacion .feedback .sonido {
    color: #00965e;
    position: absolute;
    left: 10px;
    top: 10px;
}

.popup-container .popup .popup-buttons {
    /*margin-top: 25px;
    margin-bottom: 10px;*/
}

.popup-container .popup .popup-buttons .button {
    /*height: 57px;*/
    background-color: #00c97e;
    font-family: 'Raleway-Bold', sans-serif;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    line-height: 26px;
}

.salir-unidad .popup .popup-buttons {
    margin: 0;
    padding: 0;
}

.salir-unidad .popup .popup-buttons .button {
    height: 30px;
    letter-spacing: 0px;
    text-transform: uppercase;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    line-height: 26px;
    font-size: 11pt;
}

.salir-unidad .popup .popup-buttons .button-positive{
    background-color: #ffffff;
    color: #00c97e;
}

.salir-unidad .popup .popup-buttons .button-negative{
    background-color: red;
    color: #00c97e;
}



/* END MODAL FEEDBACK*/

/* TABS */

.tabs-top>.tabs,
.tabs.tabs-top {
    top: 0px;
    background-color: #ffffff;
    padding-top: 25px;
    height: 60px;
    background-position: initial;
}

.tab-item {
    max-width: none;
    line-height: 17px !important;
}

.tabs .tab-item .tab-title {
    font-size: 13pt;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Muli', sans-serif;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    border-bottom: 3px solid #00c97e !important;
}

.tabs .tab-item-active .tab-title {
    color: #00c97e;
}

.zona-segura {
    height: 60px;
}





/* FINAL - TABS*/
/* COMPRAS*/

.mis-compras-intro {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: 20px 18px;
    padding: 18pt 25px;
}

.mis-compras {
    background-color: #ffffff;
    padding: 18pt 10px;
}

.mis-compras-intro .titulo,
.mis-compras .titulo {
    position: relative;
}

.mis-compras-intro h1,
.mis-compras-intro .icon {
    color: #00c97e;
    font-family: 'Muli', sans-serif;
    font-size: 15pt;
    margin-top: 0px;
    text-align: center;
}

.mis-compras h1 {
    color: #2f3e47;
    font-family: 'Muli', sans-serif;
    font-size: 11pt;
    margin-top: 0px;
    text-align: center;
    margin: 0px 30px;
}

.mis-compras .titulo .icon {
    color: #00c97e;
    position: absolute;
    font-size: 15pt;
    right: 10px;
    top: 0px;
    margin: 0px;
}

.mis-compras-intro .icon {
    position: absolute;
    font-size: 15pt;
    right: 0px;
    top: 7px;
}

.mis-compras-intro h1 .icon {
    position: initial;
}

.mis-compras-intro .descripcion {
    font-size: 12pt;
}

.mis-compras-intro p {
    color: #2f3e47;
    font-family: 'Muli-Light', sans-serif;
}

.mis-compras-intro-button {
    height: 58px;
    background-color: #00c97e;
    border: none;
    text-align: center;
    padding: 0px;
}

.mis-compras-intro-button button {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 12pt;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.mis-compras .compras-porcentajes {
    margin-top: 15px;
    width: 100%;
}

.mis-compras .compras-porcentajes .col {
    padding-bottom: 0px;
    padding-top: 0px;
}

.mis-compras .compras-porcentajes .compras-porcentaje-tipo img {
    float: left;
    margin-right: 10px;
}

.mis-compras .compras-porcentajes .compras-porcentaje-tipo p {
    color: #2f3e47;
    font-family: 'Raleway', sans-serif;
    font-size: 7pt;
    font-weight: bold;
    height: 35px;
    letter-spacing: 1px;
    line-height: normal;
    padding-top: 10px;
    text-transform: uppercase;
    width: 70%;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra {
    position: relative;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress {
    background-color: #ebebeb;
    border-radius: 10px;
    height: 22px;
    width: 93%;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .progress-bar {
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 100%;
    border-radius: 10px;
    -webkit-transition: width 2s ease;
    transition: width 2s ease;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .icon {
    font-size: 18pt;
    color: #98999a;
    position: absolute;
    right: 0px;
    top: 0px;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-CEREALES,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-1,
.compras-tab .recomendados-body .item.item-stable.grupo-1,
.compras-grupo header.grupo-1,
.compras-grupo .progress-radial .overlay.grupo-1 {
    background-color: #f2df00 !important;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-CARNES,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-2,
.compras-tab .recomendados-body .item.item-stable.grupo-2,
.compras-grupo header.grupo-2,
.compras-grupo .progress-radial .overlay.grupo-2 {
    background-color: #ff9600;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-LECHELACTEOS,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-3,
.compras-tab .recomendados-body .item.item-stable.grupo-3,
.compras-grupo header.grupo-3,
.compras-grupo .progress-radial .overlay.grupo-3 {
    background-color: #0fa7ff;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-VEGETALES,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-4,
.compras-tab .recomendados-body .item.item-stable.grupo-4,
.compras-grupo header.grupo-4,
.compras-grupo .progress-radial .overlay.grupo-4 {
    background-color: #7bd462;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-GRASAS,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-5,
.compras-tab .recomendados-body .item.item-stable.grupo-5,
.compras-grupo header.grupo-5,
.compras-grupo .progress-radial .overlay.grupo-5 {
    background-color: #ff037a;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-AZUCAR,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-6,
.compras-tab .recomendados-body .item.item-stable.grupo-6,
.compras-grupo header.grupo-6,
.compras-grupo .progress-radial .overlay.grupo-6 {
    background-color: #d360fe;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-CONDIMENTOS,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-9,
.compras-tab .recomendados-body .item.item-stable.grupo-9,
.compras-grupo header.grupo-9,
.compras-grupo .progress-radial .overlay.grupo-9 {
    background-color: #bd8330;
}

.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-NOGRUPO,
.mis-compras .compras-porcentajes .compras-porcentaje-barra .progress .grupo-0,
.compras-tab .recomendados-body .item.item-stable.grupo-0,
.compras-grupo header.grupo-0,
.compras-grupo .progress-radial .overlay.grupo-0 {
    background-color: #000000;
}





/* END COMPRAS*/


/* COMPRAS GRUPO */

.compras-grupo {
    background-color: #ffffff;
}

.compras-grupo header {
    position: relative;
    height: 80px;
}

.compras-grupo header a {
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 15pt;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
}

.compras-grupo header h1 {
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 12pt;
    text-align: center;
    padding: 0 60px;
    margin-top: 12px;
}

.compras-grupo header h1 img {
    float: left;
    width: 40px;
    position: relative;
    top: -4px;
}

.compras-grupo .compras-grupo-descripcion {
    margin-top: 35px;
    font-size: 15pt;
    color: #2f3e47;
    text-align: center;
    padding: 0 20px;
}

.compras-grupo .compras-grupo-descripcion i {
    color: #2f3e47;
}

.compras-grupo .compras-resumen {
    color: #2f3e47;
    font-size: 11pt;
    font-family: 'Muli-Light', sans-serif;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.compras-grupo .compras-resumen .nombre-producto {
    margin-bottom: 10px;
    text-transform: lowercase;
}

.compras-grupo .compras-resumen .precio {
    text-align: right;
}

.compras-grupo .compras-resumen .totales {
    border-top: 1px solid #d8d8d8;
    font-family: 'Muli-Light', sans-serif;
    font-size: 16pt;
    padding-top: 15px;
}

.compras-grupo .compras-grupo-recomendacion {
    border-top: 1px solid #d8d8d8;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.compras-grupo .compras-grupo-recomendacion img {
    margin-top: 15px;
}

.compras-grupo .compras-grupo-recomendacion h2 {
    color: #2f3e47;
    font-family: 'Muli-Light', sans-serif;
    font-size: 14pt;
    margin-top: 30px;
    text-align: center;
}

.compras-grupo .compras-grupo-recomendacion h2 i,
.compras-grupo .compras-grupo-recomendacion p i {
    color: #00c97e;
}

.compras-grupo .compras-grupo-recomendacion p {
    font-size: 11pt;
    text-align: left;
    color: #2f3e47;
}

.compras-grupo .compras-grupo-nombre-recomendado {
    background-color: #f5f4f4;
    font-size: 11pt;
    padding: 15px 25px;
    text-transform: lowercase;
}

.compras-grupo .compras-grupo-nombre-recomendado:nth-child(odd) {
    background-color: #ffffff;
}





/*  END - COMPRAS GRUPO */


/* PROGRESO */

.progreso .pane {
    background-color: #6dffc9;
}

.progreso .progreso-tab {
    padding: 30px 15px;
    height: 100%;
}

.progreso .progreso-tab .progreso-panel {
    background-color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 12px 14px;
    width: 100%
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia img {
    margin-left: 6px;
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia p {
    color: #ff5400;
    font-family: 'Muli-Italic', sans-serif;
    font-size: 13pt;
    margin-left: 15px;
    margin-top: 10px;
}

.progreso .progreso-tab .progreso-panel .progreso-puntos-experiencia p .icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 12px;
    color: #ff5400;
    height: 40px;
    width: 40px;
    z-index: 1;
    position: relative;
    top: -6px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.progreso .progreso-tab .progreso-panel .progreso-porcentaje {
    padding: 25px 0px 20px 0px;
    border-bottom: 1px solid #cccccc;
}

.progreso .progreso-tab .progreso-panel .progreso-porcentaje .row {
    margin: 0 auto;
    width: 170px;
}

.progreso .progreso-tab .progreso-panel .progreso-resumen {
    color: #2f3e47;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 8pt;
    margin-bottom: 40px;
}

.progreso .progreso-tab .progreso-panel .progreso-resumen img {
    float: left;
    margin-right: 7px;
    margin-top: 15px;
}

.progreso .progreso-tab .progreso-panel .progreso-resumen span {
    font-size: 25pt;
    font-family: 'Muli-Italic', sans-serif;
    line-height: 18pt;
}

.progreso .progreso-tab .progreso-panel .progreso-familia {
    color: #2f3e47;
    border-bottom: 1px #cccccc solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .row {
    position: relative;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .row .sonido {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10pt;
    color: #ffa67a;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .miembro-familia {
    font-size: 11pt;
    color: #2f3e47;
    margin-top: 14px;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .lider .miembro-familia {
    font-size: 17pt;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .medallas img {
    float: left;
    margin-right: 7px;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .medallas {
    font-size: 16pt;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .lider .medallas {
    color: #ff5400;
}

.progreso .progreso-tab .progreso-panel .progreso-familia .medallas span {
    font-size: 7pt;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
}

.progreso .progreso-tab .progreso-panel .mis-diplomas {
    margin-top: 40px;
}

.progreso .progreso-tab .progreso-panel.diplomas {
    color: #2f3e47;
    border-bottom: 1px #cccccc solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progreso .progreso-tab .progreso-panel .diplomas .titulo-diploma {
    font-size: 11pt;
    color: #2f3e47;
    margin-top: 14px;
}

.progreso .progreso-tab .progreso-panel .mis-diplomas .diplomas .imprimir-diploma {
    font-size: 16pt;
    margin-top: 14px;
    text-align: right;
}

.progreso .progreso-tab .progreso-panel .mis-diplomas .diplomas .imprimir-diploma a {
    color: #ff5400;
    cursor: pointer;
}

.progreso .progreso-tab .progreso-panel .mis-diplomas .diplomas .imprimir-diploma a:hover,
.progreso .progreso-tab .progreso-panel .mis-diplomas .diplomas .imprimir-diploma a:focus {
    text-decoration: none;
    outline: none;
}





/* FINAL - PROGRESO */


/* DIPLOMA*/

.diploma.popup-container .popup {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #f5f5f5;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    font-family: 'Muli', sans-serif;
    color: #2f3e47;
    text-align: center;
}

.modal.diploma .modal-dialog .modal-content .modal-body {
    padding: 0px;
}

div#imprimirDiploma {
    margin-top: 30px;
}

.diploma.popup-container .popup .popup-body .diploma .rollo-arriba,
.diploma.popup-container .popup .popup-body .diploma .rollo-abajo {
    background-image: url(../img/diploma-top-bar.png);
    background-size: 100% 100%;
    height: 24px;
    width: 100%;
    position: relative;
}

.diploma.popup-container .popup .popup-body .diploma .rollo-abajo {
    background-image: url(../img/diploma-bottom-bar.png);
}

.diploma.popup-container .popup .popup-body .diploma .rollo-arriba .medalla {
    position: absolute;
    width: 85px;
    top: -18px;
    left: calc(50% - 35px);
}

.diploma.popup-container .popup .popup-body .diploma .papel {
    background-color: #ffffff;
    color: #2f3e47;
    height: 480px;
    padding: 10px;
    margin: 0px 2%;
    width: 96%;
    text-align: center;
}

.diploma.popup-container .popup .popup-body .diploma h1 {
    color: #2f3e47;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 85px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.diploma.popup-container .popup .popup-body .diploma h2 {
    color: #2f3e47;
    margin: 20px 0 30px 0;
    font-size: 20pt;
}

.diploma.popup-container .popup .popup-body .diploma h3 {
    color: #000000;
    margin: 20px 0 18px 0;
    font-size: 16pt;
}

.diploma.popup-container .popup .popup-body .diploma h4 {
    color: #2f3e47;
    margin: 10px 0 10px 0;
    font-size: 8pt;
}

.diploma.popup-container .popup .popup-body .diploma p {
    color: #2f3e47;
    margin: 0px;
}

.diploma.popup-container .popup .popup-body .margen {
    border: 1px solid #f0cb69;
    height: 100%;
    width: 100%;
}

.modal.diploma .modal-footer {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.modal.diploma .btn-default {
    background-color: #00da81;
    background-image: none;
    border-radius: 23px;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 25px;
    padding-top: 12px;
    text-transform: uppercase;
    text-shadow: none;
    width: 290px;
}

.diploma.popup-container .popup .popup-buttons .button {
    /* height: 57px; */
    background-color: #00da81;
    border: none;
    color: white;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 10pt;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    line-height: 26px;
}





/* FINAL -DIPLOMA*/